<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

docmat = request.params.get('docmat')
array_peso = request.params.get('array_peso') 
fecha = request.params.get('fecha')
idtercero = request.params.get('idtercero')
idmat = request.params.get('idmat')
lote_proveedor = request.params.get('lote_proveedor')
factura_proveedor = request.params.get('factura_proveedor')
tipo_empaque = request.params.get('tipo_empaque')
precio_factura = request.params.get('precio_factura')
observacion = request.params.get('observacion')
accion_correc = request.params.get('accion_correc')
orden_de_compra = request.params.get('orden_de_compra')
unidad_factura = request.params.get('unidad_factura') 
cantidad_factura = request.params.get('cantidad_factura') 

insp_mat_madurez = request.params.get('insp_mat_madurez') 

dotacion_personal = request.params.get('dotacion_personal')        
elementos_extranos = request.params.get('elementos_extranos')        
est_unid_empaque = request.params.get('est_unid_empaque')        
libre_infest_plag = request.params.get('libre_infest_plag')       
insp_mat_prim = request.params.get('insp_mat_prim')       
estado_vehiculo_piso = request.params.get('estado_vehiculo_piso')       
estado_vehiculo_paredes = request.params.get('estado_vehiculo_paredes')       
estado_vehiculo_techo = request.params.get('estado_vehiculo_techo')       

insp_mat_color = request.params.get('insp_mat_color')        
insp_mat_olor = request.params.get('insp_mat_olor')        
insp_mat_sabor = request.params.get('insp_mat_sabor')        
insp_mat_elem_extra = request.params.get('insp_mat_elem_extra')             

insp_epm_color = request.params.get('insp_epm_color')        
insp_epm_olor = request.params.get('insp_epm_olor')        
insp_epm_selle = request.params.get('insp_epm_selle')        
insp_epm_calibre = request.params.get('insp_epm_calibre')        
insp_epm_elem_extra = request.params.get('insp_epm_elem_extra')        

autor = request.params.get('username')


db.execute("""REPLACE INTO `documentos_material`( `fecha`, `idasoc`, `idmat`, `cantidad_kg`, `lote_material_proveedor`, `factura_proveedor`, `tipo_empaque`, `dotacion_personal`, `elementos_extranos`, `est_unid_empaque`, `libre_infest_plag`, `insp_mat_prim`, `insp_mat_color`, `insp_mat_olor`, `insp_mat_sabor`, `insp_mat_elem_extra`, `insp_mat_madurez`, `insp_epm_color`, `insp_epm_olor`, `insp_epm_selle`, `insp_epm_calibre`, `insp_epm_elem_extra`,`autor`, `factura_recibida`, `producto_aprobado`, `cantidad_kg_factura`, `precio_factura`, `observaciones`, `acciones_correctivas`, `orden`,`tipo_documento`, `idalm`, `idlote`, `data_group`, `idinsumos`, `unidad`, `sub_tipo_documento`, `otros_pesos_tara`, `estado_vehiculo_piso`, `estado_vehiculo_paredes`, `estado_vehiculo_techo`) 
            VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) """,
            [ fecha , idtercero, idmat, 0, lote_proveedor,factura_proveedor, tipo_empaque, dotacion_personal, elementos_extranos,est_unid_empaque,libre_infest_plag,insp_mat_prim,insp_mat_color,insp_mat_olor,insp_mat_sabor,insp_mat_elem_extra,insp_mat_madurez,insp_epm_color,insp_epm_olor,insp_epm_selle,insp_epm_calibre,insp_epm_elem_extra, autor,'','',cantidad_factura,precio_factura, observacion, accion_correc,orden_de_compra, '','','','','', unidad_factura, '',0,estado_vehiculo_piso,estado_vehiculo_paredes,estado_vehiculo_techo ])

#db.execute('COMMIT WORK');

#redirect('principal.html')
redirect('guardar_materia_pesos.html?docmat={docmat}&array_peso={array_peso}' .format(docmat=docmat,array_peso=array_peso) )       