<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()


db.execute("""SELECT idmat, descripcion  FROM materiales  """,[])

resul_material = db.fetchall()

db.execute("""SELECT * FROM terceros where `tipo` = 'PROV'  """,[])

resul_terceros = db.fetchall()

db.execute("""SELECT max(docmat)+1 as docmat  FROM documentos_material  """,[])

resul_max = db.fetchone()


%>


<h2 class="ui header" >Registro Materia Prima</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
        </div>
 </div> 
 <br>
 <form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
    <br>

    <div class="two fields"> 

        <div class="field">
            <label>Tipo de Entrada</label>

            <select  name="tipo_entrada" id="tipo_entrada" >
                <option value="MPF">Materia Prima Fresca</option>
                <option value="MPP" >Materia Prima Procesada</option>
                <option value="IN" >Insumo</option>
            </select>
            
        </div>

        <div class="field">
                <label>Numero de Documento</label>
                <input type="text" value="{{resul_max['docmat']}}" readonly="" name="numero_documento" id="numero_documento" >
        </div>
      <!--  <div class="field">
                <label>Lote Material</label>
                <input type="text" value=""  name="lote_material">
        </div>-->

    </div>    
    <div class="two fields">     
        <div class="ui field">
                <label>Fecha y Hora Recepcion</label>
                <input type="datetime-local" name="fecha" id="fecha"value="{{ datetime.datetime.now().strftime('%Y-%m-%dT%H:%M:%S') }}"  >
        </div>

        <div class="field">
                <label>Producto</label>
                <select class="ui search selection dropdown" id="idmat" name="idmat" required="" >
                        <option value=""></option>
                        % for row in resul_material :  
                        <option value="{{row['idmat']}}">{{ row['descripcion'] }}</option>
                        %end
                </select>
        </div>

        <div class="field">
                <label>Tipo de Empaque</label>
    
                <select  name="tipo_empaque" id="tipo_empaque" >
                    <option value="canastilla">Canastilla</option>
                    <option value="guacal" >Guacal</option>
                    <option value="bulto" >Bulto</option>
                    <option value="granel" >Granel</option>
                </select>
                
        </div>
    </div>

<h2 class="ui header"  >Proveedores:</h2>

    <br>

  <div class="two fields"> 
        <div class="field">
                <label>Proveedor</label>
                <select class="ui search selection dropdown" id="idtercero" name="idtercero" required="" >
                        <option value=""></option>
                        % for row in resul_terceros :  
                        <option value="{{row['idtercero']}}">{{ row['nombre'] }}</option>
                        %end
                </select>
        </div>

        <div class="field">
                <label>Orden de Compra</label>
                <input type="text" value="" name="orden_de_compra" id="orden_de_compra">
        </div>
   </div>
   <div class="two fields">  
        <div class="field">
                <label>Factura Proveedor</label>
                <input type="text" value="" name="factura_proveedor" id="factura_proveedor" >
        </div>
        <div class="field">
                <label>Cantidad Factura</label>
                <input type="number" value="" name="cantidad_factura" id="cantidad_factura"  step="any">
        </div>
        <div class="field">
                <label>Unidad Cantidad Factura</label>
                <select name="unidad_factura" id="unidad_factura">
                        <option value="kg">kg</option>
                        <option value="un">un</option>
                        <option value="l">l</option>
                        <option value="m">m</option>
                        <option value="h">h</option>
                        <option value="ml">ml</option>
                </select>
        </div>
    </div>

    <div class="two fields"> 
        <div class="field">
                <label>Diferencia Cant. Fact vs Cant. Pesada KG</label>
                <input type="number" value="" name="diferencia" id="diferencia" readonly>
        </div>
        <div class="field">
                <label>Precio Factura</label>
                <input type="number" value="" name="precio_factura" id="precio_factura" step="any">
        </div>
        <div class="field">
                <label>Lote Material Proveedor</label>
                <input type="text" value="" name="lote_proveedor" id="lote_proveedor">
        </div>
    </div>


<h2 class="ui header" >Pesos:</h2>

    <br>
    <div class="two fields"> 
        <div class="field">
                <label>Estiba</label>
                <input type="text" value="" name="estiba"  id="estiba">
        </div>
        <div class="field">
                <label>Peso Bruto Kg</label>
                <input type="number" value="" name="peso_bruto" id="peso_bruto"  step="any">
        </div>
        <div class="field">
                <label>Tara Kg</label>
                <input type="text" value="" name="tara" id="tara">
        </div>
    </div>

    <div class="ui buttons" >
            <button class="ui button" type="submit" id="agregar" >Agregar</button>  
    </div>

    <table class="ui table" id="tabla_peso" >
        <thead>
            <th>Estiba</th>
            <th>Bruto kg</th>
            <th>Tara Kg</th>
            <th>Neto Kg</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>

<br>
<h2 class="ui header" style="text-align: center">Inspeccion Calidad Transporte</h2>
 
    <table class="ui table">
        <thead>
            <th></th>
            <th>C</th>
            <th>NC</th>
            <th>NA</th>
        </thead>
        <%
            rows =["Dotacion Personal","Estado del Vehiculo (Piso)","Estado del Vehiculo (Paredes)","Estado del Vehiculo (Techo)","Elementos Estraños","Estado Unidades Empaque","Libre Infestacion Plagas","Inspeccion Calida Materia Prima"]
            i=0
            for row in rows:

            i = i + 1
        %>
        <tbody>
            <tr>
                <td>
                     <label>{{row}}</label>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio"  name="trans-{{i}}" id="trans-{{i}}">
                        <label></label>
                    </div>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio" name="trans-{{i}}" id="transp-{{i}}">
                        <label></label>
                    </div>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio" name="trans-{{i}}" id="transpo-{{i}}">
                        <label></label>
                    </div>
                </td>
            </tr>
            %end
        </tbody>
    </table>    
<br>
<h2 class="ui header" style="text-align: center">Inspeccion Calidad Materia Prima</h2>
    </table>
        <table class="ui table">
            <thead>
                <th></th>
                <th>C</th>
                <th>NC</th>
                <th>NA</th>
            </thead>
            <%
                rows =["Color","Olor","Sabor","Elementos Estraños"]
    
                i=8
                for row in rows:
    
                i = i + 1
            %>
            <tbody>
                <tr>
                    <td>
                        <label>{{row}}</label>
                    </td>
                    <td> <div class="ui radio checkbox">
                            <input type="radio" name="calidad-{{i}}" id="calid-{{i}}">
                            <label></label>
                        </div>
                    </td>
                    <td> <div class="ui radio checkbox">
                            <input type="radio" name="calidad-{{i}}" id="calida-{{i}}">
                            <label></label>
                        </div>
                    </td>
                    <td> <div class="ui radio checkbox">
                            <input type="radio" name="calidad-{{i}}" id="calidad-{{i}}">
                            <label></label>
                        </div>
                    </td>
                </tr>
                %end
    
            </tbody>
    </table>

    <div class="two fields" > 
        <div class="field">
               <label>Madurez</label>
        </div>
        <div class="field">
            <select name="madurez" id="madurez">
                <option value="verde">verde</option>
                <option value="pintona">pintona</option>
                <option value="madura">madura</option>
                <option value="sobre madura">sobre madura</option>
           </select>
        </div>
    </div>
    
    <br>
<h2 class="ui header" style="text-align: center">Inspeccion Empaque</h2>
    </table>
    <table class="ui table">
        <thead>
            <th></th>
            <th>C</th>
            <th>NC</th>
            <th>NA</th>
        </thead>
        <%
            rows =["Color","Olor","Selle","Calibre","Elementos Estraños"]

            i=12
            for row in rows:

            i = i + 1
        %>
        <tbody>
            <tr>
                <td>
                    <label>{{row}}</label>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio" name="empaque-{{i}}" id="empaq-{{i}}">
                        <label></label>
                    </div>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio" name="empaque-{{i}}" id="empaqu-{{i}}">
                        <label></label>
                    </div>
                </td>
                <td> <div class="ui radio checkbox">
                        <input type="radio" name="empaque-{{i}}" id="empaque-{{i}}">
                        <label></label>
                    </div>
                </td>
            </tr>
            %end
        </tbody>
    </table>
    <br>

    <div class="two fields"> 
        <div class="field">
            <label>Observaciones</label>
            <textarea name="observacion" id="observacion"></textarea>
        </div>
        <div class="field">
            <label>Acciones Correctivas</label>
            <textarea name="accion_correc" id="accion_correc"></textarea>
        </div>
    </div>
    <div class="ui buttons" >
            <button class="ui button" type="submit" onclick="confirmar()" >Guardar</button>  
    </div>


</form>

<script type="text/javascript">

    var arra = [];
    var total_array = new Array();
    var resulttable_peso = $('#tabla_peso tbody');
    resulttable_peso.empty();
   
   $('#cantidad_factura').on('keyup', function(event){


        if(total_array.length > 0 ){

            var total_valor = 0;
            var conunt = 0;
            for(var i=0 ; i< total_array.length ; i++){

                var data = total_array[i][3]; 
                total_valor = total_valor + parseInt( total_array[i][3] );
                conunt++;
            }
            

            var time = setInterval( function(){
            
                if( total_array.length == conunt){

                    clearInterval(time);
                    total_valor  = $('#cantidad_factura').val() - total_valor;
                    $('#diferencia').val( total_valor );

                }

            },500);
            
        }else{
            $('#diferencia').val( $('#cantidad_factura').val() );
        }
       
   });

    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })

    contador = 0;
    $('#agregar').click( function(){

      var resultado = parseInt( $('#peso_bruto').val() ) - parseInt( $('#tara').val());
        
       var valor_tex = $('#diferencia').val();
       if(valor_tex != ""){

            valor_tex = parseInt(valor_tex) - parseInt(resultado);
            $('#diferencia').val( valor_tex );
        
            resulttable_peso.append('<tr><td>'+$('#estiba').val()+'</td><td>'+$('#peso_bruto').val()+'</td><td>'+$('#tara').val()+'</td><td>'+resultado+'</td><td><div class="ui buttons" onclick="delete_('+contador+')"  ><a class="ui vertical animated button"  ><div class="hidden content">Eliminar</div><div class="visible content"><i class="remove icon"></i></div></a></div></td></tr>');
            arra =[  $('#estiba').val(),$('#peso_bruto').val(),$('#tara').val(), resultado  ];

            total_array.push(arra);
            $('#estiba').val('');
            $('#peso_bruto').val('');
            $('#tara').val('');
           
        }
        else{
            alert('No existe ningun valor en (Diferencia Cant. Fact vs Cant. Pesada KG)  debido a esto no se puede calcular.'); 
        }
        contador++;
        return false;
    });


    function delete_(event){
           
        var conunt = 0;
        var arraynuevo = [];
        var total_valor = 0;

        for(var i=0 ; i< total_array.length ; i++){

            if (event != 'undefined'){
                if( event != i){

                    arra =[ total_array[i][0],total_array[i][1],total_array[i][2],total_array[i][3] ];
                    arraynuevo.push(arra);
                    var data = total_array[i][3]; 
                    total_valor = total_valor + parseInt( total_array[i][3] );
                } 
            }
            conunt++;
        }

        var time = setInterval( function(){
            if( total_array.length == conunt){

                clearInterval(time);
                resulttable_peso.empty();               
                total_array = [];
                total_array = arraynuevo;
                total_valor  = $('#cantidad_factura').val() - total_valor;
                $('#diferencia').val( total_valor );
                contador =0;
                for(var i=0 ; i< total_array.length ; i++){
                    resulttable_peso.append('<tr><td>'+total_array[i][0]+'</td><td>'+total_array[i][1]+'</td><td>'+total_array[i][2]+'</td><td>'+total_array[i][3]+'</td><td><div class="ui buttons" onclick="delete_('+contador+')" ><a class="ui vertical animated button" ><div class="hidden content">Eliminar</div><div class="visible content"><i class="remove icon"></i></div></a></div></td></tr>');
                    contador++;
                }
            }

        },500);

    }

    function confirmar()
    {
        if (confirm("¿ Desea registrar estos datos. ?"))
        {


         /*  var d = $('#numero_documento').val();
           var s = total_array;
           var g = $('#fecha').val();
           var h = $('#idtercero').val();
           var j = $('#idmat').val();
           var k = $('#lote_proveedor').val();
           var l = $('#factura_proveedor').val();
           var z = $('#tipo_empaque').val();
           var x = $('#precio_factura').val();
           var c = $('#observacion').val();
           var v = $('#accion_correc').val();
           var b = $('#orden_de_compra').val();
           var n = $('#unidad_factura').val();
           var m = $('#cantidad_factura').val(); */
            
           var dotacion_personal = "";
           var elementos_extranos =""; 
           var est_unid_empaque =""; 
           var libre_infest_plag ="";
           var insp_mat_prim ="";
           var estado_vehiculo_piso ="";
           var estado_vehiculo_paredes ="";
           var estado_vehiculo_techo ="";

           var insp_mat_color = "";
           var insp_mat_olor = "";
           var insp_mat_sabor = "";
           var insp_mat_elem_extra = "";
           var insp_mat_madurez = "";

           var insp_epm_color = "";
           var insp_epm_olor = "";
           var insp_epm_selle = "";
           var insp_epm_calibre = "";
           var insp_epm_elem_extra = "";

           var value_radio = "";
           var contador =1;
           var confirmacion = "";

           for(var i = 1; i < 18 ; i++ ){

            var tex0 = "";
            var tex1 = "";
            var tex2 = "";
              
             if( i < 9){
               tex0 = "#trans-"+i;
               tex1 = "#transp-"+i;
               tex2 = "#transpo-"+i;
             }
             else if( i < 13){
               tex0 = "#calid-"+i;
               tex1 = "#calida-"+i;
               tex2 = "#calidad-"+i;
             }
             else {
               tex0 = "#empaq-"+i;
               tex1 = "#empaqu-"+i;
               tex2 = "#empaque-"+i;
             }

                    if( $(tex0).is(':checked')) {  
                        value_radio = "C";
                    }
                    if( $(tex1).is(':checked')) {  
                        value_radio = "N";
                    }
                    if( $(tex2).is(':checked')) {  
                        value_radio = "A";
                    }

                    if(value_radio != ""){

                        if( i == 1 )
                        dotacion_personal = value_radio;
                        else if( i == 2)
                            estado_vehiculo_piso = value_radio;
                        else if( i == 3)
                            estado_vehiculo_paredes = value_radio;
                        else if( i == 4)
                            estado_vehiculo_techo = value_radio;
                        else if( i == 5)    
                            elementos_extranos = value_radio;
                        else if( i == 6)
                            est_unid_empaque = value_radio;
                        else if( i == 7)
                            libre_infest_plag = value_radio;
                        else if( i == 8)
                            insp_mat_prim = value_radio;
                        else if( i == 9)                        
                            insp_mat_color = value_radio;
                        else if( i == 10)    
                            insp_mat_olor = value_radio;
                        else if( i == 11)
                            insp_mat_sabor = value_radio;
                        else if( i == 12)    
                            insp_mat_elem_extra = value_radio;
                        else if( i == 13)      
                            insp_epm_color = value_radio;
                        else if( i == 14)
                            insp_epm_olor = value_radio;
                        else if( i == 15)
                            insp_epm_selle = value_radio;
                        else if( i == 16)
                            insp_epm_calibre = value_radio;
                        else if( i == 17)
                            insp_epm_elem_extra = value_radio;

                        value_radio="";
                    }else{

                        confirmacion ="ERROR";
                        alert('se debe ingresar todas las calificaciones.');
                        break;
                    }

                }

                if( confirmacion != "ERROR" ){

                    var array_documento =
                                {'fecha':$('#fecha').val(),
                                'idtercero':$('#idtercero').val(),
                                'idmat':$('#idmat').val(),                                
                                'lote_proveedor':$('#lote_proveedor').val(),
                                'factura_proveedor':$('#factura_proveedor').val(),                                
                                'tipo_empaque':$('#tipo_empaque').val(),
                                'precio_factura':$('#precio_factura').val(),                                
                                'observacion':$('#observacion').val(),
                                'accion_correc':$('#accion_correc').val(),                                
                                'orden_de_compra':$('#orden_de_compra').val(),
                                'unidad_factura':$('#unidad_factura').val(),                                
                                'cantidad_factura':$('#cantidad_factura').val(),
                                'insp_mat_madurez':$('#madurez').val(),                                
                                'dotacion_personal':dotacion_personal,
                                'elementos_extranos':elementos_extranos,
                                'est_unid_empaque':est_unid_empaque,                                
                                'libre_infest_plag':libre_infest_plag,
                                'insp_mat_prim':insp_mat_prim,
                                'estado_vehiculo_piso':estado_vehiculo_piso,     
                                'estado_vehiculo_paredes':estado_vehiculo_paredes,
                                'estado_vehiculo_techo':estado_vehiculo_techo,
                                'insp_mat_color':insp_mat_color,    
                                'insp_mat_olor':insp_mat_olor,
                                'insp_mat_sabor':insp_mat_sabor,
                                'insp_mat_elem_extra':insp_mat_elem_extra,        
                                'insp_epm_color':insp_epm_color,
                                'insp_epm_olor':insp_epm_olor,          
                                'insp_epm_selle':insp_epm_selle,
                                'insp_epm_calibre':insp_epm_calibre,
                                'insp_epm_elem_extra':insp_epm_elem_extra,
                                'array_peso':total_array,
                                'docmat':$('#numero_documento').val() } ;

                    $.ajax({ type: "POST",
                             url: "/materia_prima/guardar.html?raw_request=true", 
                             data: JSON.stringify(array_documento), 
                             contentType: "application/json; charset=utf-8",  
                             success: function(data){
                                 document.location='principal.html';
                             }, 
                             failure: function(errMsg){ 
                                 alert(errMsg); 
                             }
                     });   
                }
        }
    };

</script>