<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
titulo=''

if id:
    titulo = 'Edicion'
    db.execute("""SELECT a.orden, 
                         a.cliente, 
                         a.idmat,
                         a.cantidad_kg,
                         a.pedido_cliente,
                         DATE_FORMAT(a.fecha_inicio, "%%Y-%%m-%%d") as fecha_inicio,
                         DATE_FORMAT(a.fecha_fin, "%%Y-%%m-%%d") as fecha_fin,
                         a.precio_venta,
                         a.p_uso_hornos,
                         b.descripcion as mattext,
                         c.nombre as tertext,
                         DATE_FORMAT(a.fecha_despacho, "%%Y-%%m-%%d") as fecha_despacho,
                         DATE_FORMAT(a.fecha_entrega, "%%Y-%%m-%%d") as fecha_entrega,
                         a.estado
                         FROM ordenes as a 
                        LEFT OUTER JOIN materiales as b
                        ON a.idmat = b.idmat
                        LEFT OUTER JOIN terceros as c
                        ON c.idtercero = a.cliente
                        WHERE orden = %s""",[id])
    vara = db.fetchone()
    locals().update(vara)
else:

    titulo = 'Crear'
    
    db.execute("DESCRIBE ordenes")
    for row in db:
        locals().update({row['Field']:''})
    end

    estado = 'abierto'

end

       
%>
<h2 class="ui header">{{titulo}} Orden:</h2>

<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="programacion_produccion.html">Programaci&oacute;n Producci&oacute;n</div>
    </div>
</div>     
<br>
<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
    <div class="field">
        <label>Orden</label>
        <input type="text" name="orden" value="{{orden}}" readonly="">
    </div>

    <div class="field">
        <label>Estado</label>
        <input type="text" name="estado" value="{{estado}}" readonly="">
    </div>

    <div class="field">
        <label>Cliente</label>
        <select class="ui search selection dropdown" id="cliente" name="cliente" value="{{cliente}}" required=""> 
        </select>
    </div>
    <div class="field">
        <label>Referencia</label>
        <select class="ui search selection dropdown" id="idmat" name="idmat" value="{{idmat}}" required="" > 
        </select>
    </div>

    <div class="field">
        <label>Cantidad</label>
        <input type="number" step="any" name="cantidad_kg" value="{{cantidad_kg}}" required="">
    </div>

    <div class="field">
        <label># Pedido Cliente</label>
        <input type="text" name="pedido_cliente" value="{{pedido_cliente}}">
        </select>
    </div>
    <div class="field">
        <label>Fecha Inicio</label>
        <input type="date" name="fecha_inicio" value="{{fecha_inicio}}" required="">
    </div>
    <div class="field">
        <label>Fecha Comprometida de entrega</label>
        <input type="date" name="fecha_fin" value="{{fecha_fin}}" required="">
    </div>

    <div class="field">
        <label>Fecha Produccion</label>
        <input type="date" name="fecha_despacho" value="{{fecha_despacho}}">
    </div>
    
    <div class="field">
        <label>Fecha Entrega</label>
        <input type="date" name="fecha_entrega" value="{{fecha_entrega}}" >
    </div>  

    <div class="field">
        <label>Precio de Venta</label>
        <input type="number" step="any" name="precio_venta" value="{{precio_venta}}" required="" >
    </div>

    <div class="field">
        <label>Uso Hornos</label>
        <input type="number" step="any" name="p_uso_hornos" value="{{p_uso_hornos}}">
    </div>

    <div class="ui buttons">
        <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>
        <a class="ui button" href="edicion.html">Crear Otro</a>       
    </div>
</form>
<script type="text/javascript">

    $('#cliente').dropdown({
        apiSettings: {
          url: '/terceros/buscar.json?tipo=CLNT&query={query}'
        }
    });

    % if cliente:
    $('#cliente').dropdown('set value','{{cliente}}');
    $('#cliente').dropdown('set text','{{cliente}} - {{tertext}}');
    % end

    $('#idmat').dropdown({
        apiSettings: {
          url: '/materiales/buscar.json?tipo=MPP&query={query}'
        }
    });

    % if idmat:
    $('#idmat').dropdown('set value','{{idmat}}');
    $('#idmat').dropdown('set text','{{idmat}} - {{mattext}}');
    % end

    $('.ui.dropdown.optionmenu').dropdown({    
        action:function(text, value){      
        window.location.href = value;
	 }
    })
</script>