<% rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.params.get('id')

db.execute("""SELECT `id`, `orden`, `operacion`, `componente`, format(`cantidad`,2) as cantidad, `notas`, DATE_FORMAT(`fecha`,'%%Y-%%m-%%dT%%H:%%i:%%s') AS fecha, DATE_FORMAT(`fecha_inicio`,'%%Y-%%m-%%dT%%H:%%i:%%s') AS fecha_inicio, DATE_FORMAT(`fecha_fin`,'%%Y-%%m-%%dT%%H:%%i:%%s') AS fecha_fin, `idtercero`
FROM `ordenes_registro` WHERE `id`= %s """,[id])


row_registro = db.fetchone();


db.execute(""" SELECT t.nombre,o.`orden`,m.descripcion,o.`fecha_inicio`,o.`cantidad_kg` 
FROM `ordenes` as o inner join terceros  as t
on o.cliente=t.idtercero
inner JOIN materiales as m
on o.idmat = m.idmat 
where o.estado='en proceso'  
 Limit 100  """,[])

row_ordenes = db.fetchall()

db.execute("""SELECT a.operacion, a.descripcion 
FROM  hoja_ruta_operaciones as a
INNER JOIN ordenes as b
ON a.idmat = b.idmat
WHERE b.orden = %s
and b.estado='en proceso' """,[row_registro['orden']])

row_operacion = db.fetchall()

db.execute("""SELECT c.componente 
FROM  hoja_ruta_operaciones as a
INNER JOIN ordenes as b
ON a.idmat = b.idmat
inner join hoja_ruta_componentes as c
on a.operacion = c.operacion and a.idmat=c.idmat
WHERE b.orden = %s
and a.operacion = %s   
and b.estado='en proceso' """,[row_registro['orden'],row_registro['operacion'] ] )

row_componente = db.fetchall()

db.execute(""" SELECT a.idtercero , a.nombre as description FROM terceros as a WHERE a.`tipo` = 'EMPL' """,[])

row_tercero = db.fetchall()

%>

<h2 class="ui header">Editar Registro de Producci&oacute;n</h2>

<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item" data-value="">Menu</div>
        <div class="item" data-value="/home.html">Inicio</div>
        <div class="item" data-value="registro_trabajo_planta.html">Registro Trabajo de Planta</div>
    </div>
</div>        

<br>
<form class="ui form" action="programacion_produccion.html" method="get" accept-charset="utf-8">
       
    
        <div class="ui field">
            <label>ID</label>
            <input type="number" step="any" name="id_edit"   value="{{row_registro['id']}}" readonly>
        </div>

   <div class="two fields">    
        <div class="ui field">
          <label>Orden</label>
          <select class="ui search selection dropdown" id="orden" name="orden" >
              % for row in row_ordenes :  
              <option value="{{row['orden']}}">{{ row['nombre'] + u' - ' + str(row['orden']) +u' - ' +row['descripcion'] + u' - '+ str(row['fecha_inicio']) +u' - '+ str(row['cantidad_kg']) }}</option>
              %end
            </select>
        </div>

        <div class="ui field">
                <label>Operaci&oacute;n</label>
                <select class="ui search selection dropdown" id="operacion" name="operacion" >      
                        % for row in row_operacion :  
                        <option value="{{row['operacion']}}">{{ row['operacion'] +u' - ' + row['descripcion']  }}</option>
                        %end            
                </select>
        </div>

        <div class="ui field">
                <label>Componentes</label>
                <select class="ui search selection dropdown" id="componente" name="componente" >       
                        % for row in row_componente :  
                        <option value="{{row['componente']}}">{{ row['componente'] }}</option>
                        %end            
                 </select>
        </div>
    </div>

    <div class="two fields">
            
        <div class="ui field">
            <label>Operario</label>
               <select class="ui search selection dropdown" id="operario" name="operario">
                % for row in row_tercero : 
                    <option value="{{row['idtercero']}}">{{ str(row['idtercero']) + ' - ' + row['description'] }}</option>  
                %end
            </select>
        </div>
        <div class="ui field">
            <label>Fecha Inicio</label>
            <input type="datetime-local" value="{{row_registro['fecha_inicio']}}" name="fecha_inicio" >
         </div>
        <div class="ui field">
            <label>Fecha Fin</label>
                <input type="datetime-local"  value="{{row_registro['fecha_fin']}}" name="fecha_fin"  >
        </div>
    </div>

    <div class="two fields"> 
        <div class="ui field">
                <label>Cantidad</label>
                <input type="number" step="any" name="cantidad"  required="" value="{{row_registro['cantidad']}}" >
        </div>
        <div class="ui field">
                <label>Fecha y Hora</label>
                <input type="datetime-local" name="fecha" value="{{ row_registro['fecha'] }}"  >
        </div>    
    </div>   
        <div class="ui field">
            <label>Notas</label>
            <textarea  name="nota" >{{ row_registro['notas'] }}</textarea>
        </div>
        
        <br>
        <div class="ui buttons">
            <button class="ui button" type="submit" formmethod="POST" formaction="editar_or_registro.html">Editar</button>     
        </div>
        <br> <br>
    </form>

<script>

$('#orden').dropdown('set selected','{{row_registro["orden"]}}');
$('#operacion').dropdown('set selected','{{row_registro["operacion"]}}');
$('#componente').append('<option value="None">(Ninguno)</option>');

if('{{row_registro["componente"]}}' == '' || '{{row_registro["componente"]}}' == 'None'){
 
 $('#componente').dropdown('set selected','None');

}else{
    $('#componente').dropdown('set selected','{{row_registro["componente"]}}');
}
$('#operario').dropdown('set selected','{{row_registro["idtercero"]}}');

$('#orden').on('change', function(){


    $.get( "buscar_operacion_orden.json?orden="+$('#orden').val()+"&param=0", function( data ) {

            $('#operacion').empty();
            data.results.forEach(function(element) {
                
                $('#operacion').append('<option value="'+element.operacion+'">'+element.operacion+' - '+element.descripcion+'</option>');

            }, this);

            $('#operacion').dropdown();

    },'json');


});

$('#operacion').on('change', function() {

    $.get( "buscar_operacion_orden.json?orden="+$('#orden').val()+"&param=1&oper="+$('#operacion').val(), function( data ) {

            $('#componente').empty();
            $('#componente').append('<option value="None">(Ninguno)</option>');
            data.results.forEach(function(element) {
                
                $('#componente').append('<option value="'+element.componente+'">'+element.componente+'</option>');

            }, this);

            $('#componente').dropdown();

    },'json');

} );

    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })

</script>
