<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

orden = request.params.get('orden')
orden = orden if orden else 0
operacion = request.params.get('operacion')
componente = request.params.get('componente')
cantidad = request.params.get('cantidad')
nota = request.params.get('nota')
fecha = request.params.get('fecha')

db.execute("""SELECT costo
                FROM hoja_ruta_componentes as h
                INNER JOIN ordenes as o
                ON h.idmat=o.idmat  
                WHERE h.operacion = %s and o.orden = %s
                      and componente =%s  """,[ operacion,orden,componente ])


row_costo = db.fetchone()

costos_orden = float( row_costo['costo'] ) * float(cantidad) 

db.execute("""REPLACE INTO ordenes_registro (`orden`, `operacion`, `componente`, `cantidad`, `costos`, `notas`, `fecha`) 
value (%s,%s,%s,%s,%s,%s,%s)""",[ orden, operacion,componente,cantidad,costos_orden,nota,fecha])
db.execute('COMMIT WORK')


redirect('registro_trabajo_planta.html?orden={orden}&operacion={operacion}'.format(orden=orden,operacion=operacion))