<% rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

weekstart = datetime.datetime.now() - datetime.timedelta(days=datetime.datetime.now().weekday())
weekend = weekstart + datetime.timedelta(days=6)

db = utils.ConnectDB()


q_desde = request.GET.q_desde if request.GET.q_desde else weekstart.strftime('%Y-%m-%d')
q_hasta = request.GET.q_hasta if request.GET.q_hasta else weekend.strftime('%Y-%m-%d')
q_cliente = request.GET.q_cliente if request.GET.q_cliente else '%'
q_estado = request.GET.q_estado if request.GET.q_estado else 'en proceso'

%>
<h2 class="ui header">Programacion Producción</h2>

<div class="ui fluid search selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item" data-value="">Menu</div>
        <div class="item" data-value="/home.html">Inicio</div>
        <div class="item" data-value="edicion.html">Crear Orden</div>
        <div class="item" data-value="crear_con_modelo">Crear Orden con modelo</div>
    </div>
</div>

<form class="ui form" action="programacion_produccion.html" method="get" accept-charset="utf-8">
    <div class="five six fields">
        <div class="ui field">
          <label>Entrega Desde</label>
          <input type="date" name="q_desde" value="{{ q_desde }}">
        </div>
        <div class="ui field">
          <label>Entrega Hasta</label>
          <input type="date" name="q_hasta" value="{{ q_hasta }}">
        </div>
    
        <div class="ui field">
          <label>Cliente</label>
          <select class="ui search selection dropdown" id="q_cliente" name="q_cliente" value="{{q_cliente}}">
            </select>
        </div>
        <div class="ui field">
            <label>Estado</label>
            <select name="q_estado" id="q_estado">
                <option value="en proceso">En Proceso</option>
                <option value="%">Todas</option>
                <option value="abierta">Abierta</option>
                <option value="cerrada">Cerrada</option>
            </select>
        </div>
        <div class="ui field">
            <label>&nbsp;</label>
            <button class="ui button fluid buscar">Buscar</button>
        </div>
        <div class="ui field">
            <label>&nbsp;</label>
            <a class="ui button fluid buscar" href="programacion_produccion.html">Limpiar</a>
        </div>

    </div>
</form>



<div class="ui container" style="overflow: auto; height: 23em;">
    <table class="ui table">
        <thead style="position: -webkit-sticky; position: sticky; top:0;">
            <th>Fecha inicio</th>
            <th colspan="2">Cliente</th>
            <th>#Pedido</th>
            <th colspan="2">Producto</th>
            <th>Cantidad Kg</th>
            <th>Precio Venta</th>
            <th>% Uso Hornos</th>
            <th>Fecha Estimada Entrega</th>
            <th>Costo Estimado</th>
            <th>#Orden</th>
            <th>Estado</th>
            <th>Margen</th>
            <th>#Accion</th>
        </thead>
        <tbody>
            <% db.execute("""SELECT 
            a.`fecha_inicio`, 
            a.`cliente`, 
            c.nombre,
            a.`pedido_cliente`,
            a.`idmat`, 
            b.descripcion,
            FORMAT(a.`cantidad_kg`,1) as cantidad_kg,         
            FORMAT(a.`precio_venta`,0) as precio_venta, 
            FORMAT(a.`p_uso_hornos`,1) as p_uso_hornos, 
            a.`fecha_fin`,
            a.orden,
            a.estado
            FROM `ordenes` as a
            LEFT OUTER JOIN materiales as b
            ON a.idmat = b.idmat
            LEFT OUTER JOIN terceros as c
            ON a.cliente = c.idtercero
            WHERE a.fecha_fin between %s and %s and estado LIKE %s 
            ORDER BY a.fecha_fin desc,
            c.nombre
            LIMIT 40""",[q_desde, q_hasta, q_estado])
               for row in db:
            %>
            <tr>
                <td>{{row['fecha_inicio']}}</td>
                <td>{{row['cliente']}}</td>
                <td>{{row['nombre']}}</td>
                <td>{{row['pedido_cliente']}}</td>
                <td>{{row['idmat']}}</td>
                <td>{{row['descripcion']}}</td>
                <td>{{row['cantidad_kg']}}</td>
                <td>{{row['precio_venta']}}</td>
                <td>{{row['p_uso_hornos']}}</td>
                <td>{{row['fecha_fin']}}</td>
                <td>{{row['orden']}}</td>
                <td>{{row['estado']}}</td>
                <td></td>
                <td>
                    <div class="ui buttons">
                        <a class="ui vertical animated button" href="cambiar_estado.html?id={{row['orden']}}&estado=en+proceso">
                          <div class="hidden content">Procesar</div>
                          <div class="visible content">
                            <i class="play icon"></i>
                          </div>
                        </a>
                        <a class="ui vertical animated button" href="cambiar_estado.html?id={{row['orden']}}&estado=cerrada">
                          <div class="hidden content">Cerrar</div>
                          <div class="visible content">
                            <i class="stop icon"></i>
                          </div>
                        </a>
                        <a class="ui vertical animated button" href="cambiar_estado.html?id={{row['orden']}}&estado=abierta">
                          <div class="hidden content">Pausar</div>
                          <div class="visible content">
                            <i class="pause icon"></i>
                          </div>
                        <a class="ui vertical animated button" href="edicion.html?id={{row['orden']}}">
                          <div class="hidden content">Editar</div>
                          <div class="visible content">
                            <i class="edit icon"></i>
                          </div>
                        </a>
                        <a class="ui vertical animated button" href="crear_copia.html?id={{row['orden']}}">
                          <div class="hidden content">Copiar</div>
                          <div class="visible content">
                            <i class="copy outline icon"></i>
                          </div>
                        </a>
                        <a class="ui vertical animated button" href="javascript: confirmar_borrado('{{row['orden']}}')">
                          <div class="hidden content">Eliminar</div>
                          <div class="visible content">
                            <i class="remove icon"></i>
                          </div>
                        </a>
                    </div>
                </td>
            </tr>
            %end
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $('.ui.dropdown.opciones').dropdown();

    function confirmar_borrado(id)
    {
        if (confirm("¿ Desea borrar este registro ?"))
        {
            document.location = 'eliminar.html?id='+id;
        }
    };

    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){

            window.location.href = value;    
        
      }
    })

    $('#q_cliente').dropdown({
        apiSettings: {
          url: '/terceros/buscar.json?tipo=CLNT&query={query}'
        }
    });

    % if q_cliente:
    $('#q_cliente').dropdown('set value','{{q_cliente}}');
    $('#q_cliente').dropdown('set text','{{q_cliente}} - {{q_cliente}}');
    % end

    % if q_estado:
    $('#q_estado').val('{{q_estado}}');
    %end




</script>