<% rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

orden = request.GET.orden
operacion = request.GET.operacion

db.execute(""" SELECT t.nombre,o.`orden`,m.descripcion,o.`fecha_inicio`,o.`cantidad_kg` 
FROM `ordenes` as o inner join terceros  as t
on o.cliente=t.idtercero
inner JOIN materiales as m
on o.idmat = m.idmat 
where o.estado='en proceso' Limit 100 """,[])

%>
<h2 class="ui header">Registro de Producción</h2>

<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
       <div class="item" data-value="">Menu</div> 
        <div class="item" data-value="/home.html">Inicio</div>
    </div>
</div>   

<!--
<h2 class="ui header">Programacion Producción</h2>
<div class="ui buttons">
    <a class="ui button" href="/main_menu.html">Menu Principal</a>
</div>-->

<br>
<form class="ui form" action="programacion_produccion.html" method="get" accept-charset="utf-8">
    
     <div class="two fields">

            <div class="ui field">
            <label>Orden</label>
            <select class="ui search selection dropdown" id="orden" name="orden" value={{orden}}>
                % for row in db :  
                <option value="{{row['orden']}}">{{ row['nombre'] + ' - ' + str(row['orden']) + ' - ' +row['descripcion'] + ' - '+ str(row['fecha_inicio']) +' - '+ str(row['cantidad_kg']) }}</option>
                %end
                </select>
            </div>

            <div class="ui field">
                    <label>Operaci&oacute;n</label>
                    <select class="ui search selection dropdown" id="operacion" name="operacion" required=""  value={{operacion}}>                  
                    </select>
            </div>

            <div class="ui field">
                    <label>Componentes</label>
                    <select class="ui search selection dropdown" id="componente" name="componente" required="" >                  
                    </select>
            </div>
    </div>
    <div class="two fields">
        <div class="ui field">
                <label>Cantidad</label>
                <input type="number" step="any" name="cantidad"  required="" >
        </div>
        <div class="ui field">
                <label>Fecha y Hora</label>
                <input type="datetime-local" name="fecha" value="{{ datetime.datetime.now().strftime('%Y-%m-%dT%H:%M:%S') }}"  >
        </div>
    </div>
        <div class="ui field">
             <label>Notas</label>
              <textarea  name="nota"   ></textarea>
        </div>
        
        <br>
        <div class="ui buttons">
            <button class="ui button" type="submit" formmethod="POST" formaction="guardar_ordenes_registro.html">Ingresar</button>     
        </div>
        <br> <br>
</form>

<div class="ui buttons">
    <button class="ui button" type="submit" id="avance">Avance de Producci&oacute;n</button>     
</div>
<br> <br>

<div class="ui container" style="overflow: auto; height: 23em;">
    <table class="ui table">
        <thead style="position: -webkit-sticky; position: sticky; top:0;">
            <th>Id</th>
            <th>Orden</th>
            <th>Operacion</th>
            <th>Componentes</th>
            <th>Cantidad</th>
            <th>Notas</th>
            <th>Fecha</th>
            <th>Accion</th>
        </thead>
        <tbody>
            <% db.execute("""SELECT `id`, `orden`, `operacion`, `componente`, `cantidad`, `notas`, `fecha` 
                             FROM `ordenes_registro`
                             order by fecha  desc
            LIMIT 40""",[])
               for row in db:
            %>
            <tr>
                <td>{{row['id']}}</td>
                <td>{{row['orden']}}</td>
                <td>{{row['operacion']}}</td>
                <td>{{row['componente']}}</td>
                <td>{{row['cantidad']}}</td>
                <td>{{row['notas']}}</td>
                <td>{{row['fecha']}}</td>
                <td>
                    <div class="ui buttons">
                        <a class="ui vertical animated button" href="editar_orden_registro.html?id={{row['id']}}">
                          <div class="hidden content">Editar</div>
                          <div class="visible content">
                            <i class="edit icon"></i>
                          </div>
                        </a>
                        <a class="ui vertical animated button" href="javascript: confirmar_borrado('{{row['id']}}')">
                          <div class="hidden content">Eliminar</div>
                          <div class="visible content">
                            <i class="remove icon"></i>
                          </div>
                        </a>
                    </div>
                </td>
            </tr>
            %end
        </tbody>
    </table>
</div>

<script>


$('#orden').on('change', cargar_operacion);
$('#operacion').on('change', cargar_componente); 

function confirmar_borrado(id){
        if (confirm("¿ Desea borrar este registro ?"))
        {
            document.location = 'eliminar_orden_registro.html?id='+id;
        }
};

$('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){
        window.location.href = value;
        }
});


 $('#avance').on('click', function(){
    
    var s =$('#orden').val();
    var g = $('#operacion').val();
    if( $('#orden').val() != null && $('#operacion').val() != null ){

         window.location.href = 'avance_produccion.html?orden='+$('#orden').val()+'&operacion='+$('#operacion').val();
    }else{

        alert('por favor seleccionar orden y operacion.');
    }

 });   


function cargar_operacion(){

    $.get( "buscar_operacion_orden.json?orden="+$('#orden').val()+"&param=0", function( data ) {

            $('#operacion').empty();
            data.results.forEach(function(element) {
                
                $('#operacion').append('<option value="'+element.operacion+'">'+element.operacion+' - '+element.descripcion+'</option>');

            }, this);
            
            $('#operacion').dropdown();
            $('#operacion').dropdown('set selected','{{operacion}}');
            cargar_componente();

    },'json');
    
};

function cargar_componente(){

    $.get( "buscar_operacion_orden.json?orden="+$('#orden').val()+"&param=1&oper="+$('#operacion').val(), function( data ) {

            $('#componente').empty();
            data.results.forEach(function(element) {
                
                $('#componente').append('<option value="'+element.componente+'">'+element.componente+'</option>');

            }, this);

           
            $('#componente').dropdown();

    },'json');
}

cargar_operacion();



</script>
