<% rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()
%>
<h2 class="ui header">Reporte Producico vs Real</h2>
<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
        </div>
    </div>  
    <br>

<form class="ui form" action="rep_pros_vs_real.html" method="get" enctype="multipart/form-data" acceptcharset="UTF-8">
        <br>
        <div class="ui field">
                <label>Fecha Inicio Orden</label>
        </div>

        <div class="two fields">
            
            <div class="ui field">
                <label>Desde</label>
                <input type="date" name="q_desde"  >
            </div>
            <div class="ui field">
                <label>Hasta</label>
                <input type="date" name="q_hasta" >
            </div>
            <div class="ui field">
                <label>&nbsp;</label>
                <button class="ui button fluid buscar">Buscar</button>
            </div>
            <div class="ui field">
                <label>&nbsp;</label>
                <a class="ui button fluid buscar" href="rep_pros_vs_real.html">Limpiar</a>
            </div>
    
        </div>

</form>

<table class="ui table">
    <thead>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Programado</th>
        <th>Producido a la fecha</th>
        <th>%completado</th>
        <th>Estado</th>
        <th>#orden</th>
        <th>Costos Real</th>
        <th>Fecha Cierre</th>
        <th>P.venta</th>
        <th>Margen</th>
        <th>Fecha Estimada</th>
        <th>Dias Atrazo</th>
    </thead>
    <tbody>
        <% 
            db.execute("""SELECT  o.orden, t.`nombre`,m.descripcion,o.cantidad_kg,o.estado,o.orden,ore.producido_fecha,
                      ( ifnull( ore.producido_fecha , 0 ) / o.cantidad_kg *100 ) as total_completado,sum( ifnull( format( org.costos , 0) , 0 ) )as costos,
                      ho.operacion,cp.componente,o.fecha_entrega,o.precio_venta
                      FROM ordenes as o
                      INNER JOIN `terceros` as t
                      ON o.cliente = t.idtercero
                      INNER JOIN materiales as m
                      ON o.idmat = m.idmat  
                      inner join hoja_ruta_operaciones ho
                      on o.idmat = ho.idmat and ho.clase = 'TERMINADO'
                      inner join hoja_ruta_componentes cp
                      on ho.operacion= cp.operacion and cp.idmat=ho.idmat
                      left OUTER join ordenes_registro as org
                      ON o.orden=org.orden and  org.operacion= ho.operacion and org.componente=cp.componente 
                      LEFT OUTER JOIN (  
                         select   sum(ifnull(cantidad_kg , 0)  ) as producido_fecha,orden,operacion
                         from ordenes_produccion  
                          group by orden,operacion
                      ) as ore
                      on o.orden = ore.orden and ore.operacion= ho.operacion
                      group by   o.orden, t.`nombre`,m.descripcion,o.cantidad_kg,o.estado,o.orden,ore.producido_fecha,ho.operacion,cp.componente,total_completado  """,[])

                     
                        
           for row in db:
        %>
        <tr>
            <td>{{row['nombre']}}</td>
            <td>{{row['descripcion']}}</td>
            <td>{{row['cantidad_kg']}}</td>
            <td>{{row['producido_fecha']}}</td>
            <td>{{row['total_completado']}}</td>
            <td>{{row['estado']}}</td>
            <td>{{row['orden']}} </td>
            <td></td>
            <td>{{row['fecha_entrega']}}</td>
            <td>{{row['precio_venta']}}</td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        %end
    </tbody>
</table>

<script type="text/javascript">
    $('.search.button')
  .api({
    url: 'http://www.google.com?q={value}'
  });

    function confirmar_borrado(id)
    {
        if (confirm("¿ Desea borrar este registro ?"))
        {
            document.location = 'eliminar.html?id='+id;
        }
    };

    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })
</script>