<%rebase('base.html',title="Control Producción")
import utils
import datetime
 db =utils.ConnectDB()
 db_pr =utils.ConnectDB()


 weekstart = datetime.datetime.now()

 fecha_hoy = weekstart.strftime('%Y-%m-%d')

 db.execute("""SELECT count(*) as cont_abierta 
               FROM `ordenes`
               WHERE `estado` = 'abierta' """,[ ])
 row_abierta = db.fetchone()

 db.execute("""SELECT count(*) as cont_proceso
                FROM `ordenes` 
                WHERE `estado` = 'en proceso' """,[ ])
row_proceso = db.fetchone()

 db.execute("""SELECT count(*) as cont_cerrado 
              FROM `ordenes_estado` as e
              INNER JOIN ordenes as o
              ON e.estado =o.estado
              WHERE 
              `fecha` BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')
              and e.`estado` = 'cerrada' """,[ ])
row_cerrada = db.fetchone()

db.execute("""SELECT count(*) as cont_cerrado_ayer 
              FROM `ordenes_estado` as e
              INNER JOIN ordenes as o
              ON e.estado =o.estado
              WHERE 
              `fecha` BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')
              and e.`estado` = 'cerrada' """,[ ])
row_cerrada_ayer = db.fetchone()

%>


<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <!--<div class="item" data-value="main_menu.html">Menu Principal</div>
            <div class="item" data-value="ordenes/registrar_produccion_inicio.html">Registrar Produccion</div>
            <div class="item" data-value="ordenes/registro_trabajo_planta.html">Registro Trabajo de Planta</div>-->
        <div class="item" data-value="">Menu</div>
        <div class="item" data-value="ordenes/edicion.html">Crear Orden</div>
        <div class="item" data-value="turnos/principal.html">Control de Turnos</div>
        <div class="item" data-value="costos_indirectos/principal.html">Costos Indirectos</div>
        <div class="item" data-value="ordenes/control_produccion.html">Cuadro control producci&oacute;n</div>
        <div class="item" data-value="equipos/principal.html">Equipos (Hornos, M&aacute;quinas)</div>
        <div class="item" data-value="hoja_de_ruta/principal.html">Hojas de Ruta</div>
        <div class="item" data-value="materiales/principal.html">Materiales (Insumos, Materia Prima, Producto Terminado)</div>
        <div class="item" data-value="ordenes/registro_trabajo_planta.html">Registrar Producci&oacute;n</div>
        <div class="item" data-value="ordenes/resumen_programacion_produccion.html">Resumen Programaci&oacute;n Producci&oacute;n</div>
        <div class="item" data-value="hoja_de_ruta/reporte_costo_unitario.html">Reporte Costo Unitario</div>
        <div class="item" data-value="ordenes/rep_prod_vs_real.html">Reporte Producción Real Vs Programado</div>
        <div class="item" data-value="ordenes/rep_desempeno.html">Reporte Desempeño</div>
        <div class="item" data-value="ordenes/rep_consumos.html">Reporte Consumos</div>
        <div class="item" data-value="recepcion_materia_prima/principal.html">Recepci&oacute;n Material</div>
        <div class="item" data-value="terceros/principal.html">Terceros (Clientes, Operarios, Proveedores)</div>
        <div class="item" data-value="ordenes/programacion_produccion.html">Programaci&oacute;n Producci&oacute;n</div>
        <div class="item" data-value="usuarios/principal.html">Usuarios</div>

    </div>
</div>


<h2 class="ui header">Control Producci&oacute;n - Resumen {{fecha_hoy}}</h2>
<h4 class="ui horizontal divider header">
  <i class="calendar alternate outline icon"></i>
  Hoy
</h4>
  <%
    db.execute("""  SELECT  format( if( count(*) > 0 , ( sum( t1.total_deshidratado) / count(*) )  , 'N.A' )  ,2 )as capacidad_planta
    from ordenes 
    inner join 
    (
    SELECT  ifnull( sum(ho.capacidad_kg_h) , 0 ) as total_deshidratado
                    FROM `ordenes` as o
                    INNER JOIN hoja_ruta_operaciones ho
                    on o.idmat = ho.idmat 
                    WHERE ho.clase = 'DESHIDRATADO' and o.estado = 'abierta' ) as t1 """ , [])

     row_capacidad_planta = db.fetchone()  

     db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_terminado_hora
     FROM `ordenes` as o
     INNER JOIN hoja_ruta_operaciones ho
     on o.idmat = ho.idmat 
     INNER JOIN ordenes_produccion ore 
     ON o.orden = ore.orden and ore.operacion= ho.operacion
     WHERE ho.clase = 'TERMINADO'  and
       ore.fecha BETWEEN  concat( curdate() , ' ' , SUBSTR( cast( CURTIME() as char ) , 1 , 2) , ':00:00' ) 
                          and  concat( curdate(), ' ' ,curtime() )""", [])

      row_total_adecuado_ter_hora = db.fetchone()  

      if float(row_capacidad_planta['capacidad_planta']) > 0 :
         row_total_capacidad_hoy = ( float( row_total_adecuado_ter_hora['total_terminado_hora'] ) / float(row_capacidad_planta['capacidad_planta'] ) * 100 )
      else:
         row_total_capacidad_hoy = 0
      end 

  %>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="chart line icon"></i> {{row_capacidad_planta['capacidad_planta']}}
    </div>
    <div class="label">
      Capacidad max.<br>de Planta kg / h<br>( kg dia teórico / 24 h )
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="battery half icon"></i>  {{ row_total_capacidad_hoy  }} %
    </div>
    <div class="label">
      \% Capacidad de<br>planta utilizada
      <br>( prod u. hora / cap max.)
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="industry icon"></i> {{row_proceso['cont_proceso'] }}
    </div>
    <div class="label">
      Ordenes en Proceso        
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="hourglass half icon"></i>{{row_abierta['cont_abierta']}}
    </div>
    <div class="label">
      Ordenes Abiertas
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="flag checkered icon"></i> {{row_cerrada['cont_cerrado']}}
    </div>
    <div class="label">
      Ordenes Terminadas
    </div>
  </div>


  <div class="statistic">
    <div class="value">
      <i class="chart line icon"></i> {{ row_total_adecuado_ter_hora['total_terminado_hora']}}
    </div>
    <div class="label">
      Produccion Ultima <br>Hora kg 
    </div>
  </div>

  <%
  db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_adecuado_hora
                 FROM `ordenes` as o
                 INNER JOIN hoja_ruta_operaciones ho
                 on o.idmat = ho.idmat 
                 INNER JOIN ordenes_produccion ore 
                 ON o.orden = ore.orden and ore.operacion= ho.operacion
                 WHERE ho.clase = 'ADECUADO'  and
                   ore.fecha BETWEEN  concat( curdate() , ' ' , SUBSTR( cast( CURTIME() as char ) , 1 , 2) , ':00:00' ) 
                                      and  concat( curdate(), ' ' ,curtime() )""", [])
 
       row_total_adecudo_hora = db.fetchone()                
   %>

  <div class="statistic">
      <div class="value">
        <i class="chart line icon"></i>  {{ row_total_adecudo_hora['total_adecuado_hora']}}
      </div>
      <div class="label">
        Producto Adecuado &Uacute;ltima <br>Hora kg 
      </div>
    </div>

<%
  db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_adecuado_terminado
                 FROM `ordenes` as o
                 INNER JOIN hoja_ruta_operaciones ho
                 on o.idmat = ho.idmat 
                 INNER JOIN ordenes_produccion ore 
                 ON o.orden = ore.orden and ore.operacion= ho.operacion
                 WHERE ho.clase = 'TERMINADO'  and
                   ore.fecha BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')""", [])
 
       row_total_adecudo_acomulado = db.fetchone()                
   %>

  <div class="statistic">
    <div class="value">
      <i class="chart area icon"></i> {{row_total_adecudo_acomulado['total_adecuado_terminado']}}
    </div>
    <div class="label">
      Produccion Acumulada <br> kg 
    </div>
  </div>
  <%
   db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_adecuado_acomulado
                FROM `ordenes` as o
                INNER JOIN hoja_ruta_operaciones ho
                on o.idmat = ho.idmat 
                INNER JOIN ordenes_produccion ore 
                ON o.orden = ore.orden and ore.operacion= ho.operacion
                WHERE ho.clase = 'ADECUADO'  and
                  ore.fecha BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')""", [])

      row_total_adecudo_acomulado = db.fetchone()                
  %>
  <div class="statistic">
      <div class="value">
        <i class="chart area icon"></i> {{row_total_adecudo_acomulado['total_adecuado_acomulado']}}
      </div>
      <div class="label">
        Producto Adecuado Acumulado <br> kg 
      </div>
    </div>

    <%

    db.execute(""" SELECT  concat( format(  ( ifnull( sum(ore.costos) , 0 ) /1000000 )  , 2  )  )as total_dinero_x_dia   
                  FROM ordenes_registro ore 
                  WHERE  ore.fecha BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59') """, [])
    row_total_dinero_xdia= db.fetchone()    
    %>
  <div class="statistic">
    <div class="value">
      <i class="dollar sign icon"></i> {{ row_total_dinero_xdia['total_dinero_x_dia']}} MM
    </div>
    <div class="label">
      Costo Acumulado <br> COP 
    </div>
  </div>
</div>


<h4 class="ui horizontal divider header">
  <i class="calendar alternate icon"></i>
  Ayer
</h4>

<%

db.execute("""  SELECT  format( if( count(*) > 0 , ( sum( t1.total_deshidratado) / count(*) )  , 'N.A' )  ,2 )as capacidad_planta_ayer
from ordenes 
inner join 
(
SELECT  ifnull( sum(ho.capacidad_kg_h) , 0 ) as total_deshidratado
                FROM `ordenes` as o
    			INNER JOIN `ordenes_estado` as e
     			ON e.estado =o.estado
                INNER JOIN hoja_ruta_operaciones ho
                on o.idmat = ho.idmat 
                WHERE ho.clase = 'DESHIDRATADO' and e.estado = 'abierta' 
				and e.`fecha` BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')) as t1 """ , [])

 row_capacidad_planta_ayer = db.fetchone()  

 db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_adecuado_terminado
                FROM `ordenes` as o
                INNER JOIN hoja_ruta_operaciones ho
                on o.idmat = ho.idmat 
                INNER JOIN ordenes_produccion ore 
                ON o.orden = ore.orden and ore.operacion= ho.operacion
                WHERE ho.clase = 'TERMINADO'  and
                ore.fecha BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')""",[])

row_total_kg = db.fetchone() 

print row_capacidad_planta_ayer['capacidad_planta_ayer']

if float(row_capacidad_planta_ayer['capacidad_planta_ayer'] ) > 0 :
row_total_capacidad_utilizada = ( float(row_total_kg['total_adecuado_terminado'] )  / float(row_capacidad_planta_ayer['capacidad_planta_ayer'] ) ) * 100 
else :
row_total_capacidad_utilizada = 0
end

%>

<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="chart line icon"></i> {{row_capacidad_planta_ayer['capacidad_planta_ayer']}}
    </div>
    <div class="label">
      Capacidad max.<br>de Planta kg / h<br>( kg dia teórico / 24 h )
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="battery half icon"></i> {{ row_total_capacidad_utilizada }} %
    </div>
    <div class="label">
      \% Capacidad de<br>planta utilizada
      <br>( prod total / cap max)
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="flag checkered icon"></i> {{row_cerrada_ayer['cont_cerrado_ayer']}}
    </div>
    <div class="label">
      Ordenes Terminadas
    </div>
  </div>
  <%
         
  %>
  <div class="statistic">
    <div class="value">
      <i class="chart area icon"></i> {{row_total_kg['total_adecuado_terminado']}}
    </div>
    <div class="label">
      Produccion Total <br>( kg )
    </div>
  </div>

  <%
    db.execute(""" SELECT ifnull( sum(ore.cantidad_kg) , 0 ) as total_adecuado
                  FROM `ordenes` as o
                  INNER JOIN hoja_ruta_operaciones ho
                  on o.idmat = ho.idmat 
                  INNER JOIN ordenes_produccion ore 
                  ON o.orden = ore.orden and ore.operacion= ho.operacion
                  WHERE ho.clase = 'ADECUADO'  and
                  ore.fecha BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')""",[])

      row_total_adecuado = db.fetchone()     
  %>

  <div class="statistic">
    <div class="value">
      <i class="chart area icon"></i> {{row_total_adecuado['total_adecuado']}}
    </div>
    <div class="label">
      Produccion Total Adecuado <br>( kg )
    </div>
  </div>

  
 <%
 
     db.execute(""" SELECT  concat( format(  ( ifnull( sum(ore.costos) , 0 ) /1000000 )  , 2  )  )as total_dinero_x_dia_ayer  
                   FROM ordenes_registro ore 
                   WHERE  ore.fecha BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')  """, [])
     row_total_dinero_xdia_ayer= db.fetchone()    
 %>
  <div class="statistic">
    <div class="value">
      <i class="dollar sign icon"></i>  {{ row_total_dinero_xdia_ayer['total_dinero_x_dia_ayer'] }} MM
    </div>
    <div class="label">
      Costo Acumulado <br>( COP )
    </div>
  </div>

</div>
<h4 class="ui horizontal divider header">
  <i class="industry icon"></i>
  En Proceso
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad (kg)</th>
            <th>Progreso</th>
            <th>Fecha Compro-<br>metida entrega</th>
            <th>Costo Acumulado</th>
            <th>#Orden</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <%
           


          db.execute(""" SELECT o.`orden`,DATE_FORMAT( o.`fecha_fin`, '%%Y-%%m-%%d') as fecha_fin,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`
                            FROM `ordenes` as o
                            INNER JOIN terceros as t
                            ON o.cliente =t.idtercero
                            INNER JOIN materiales as m
                            ON o.idmat = m.idmat
                            WHERE o.estado = 'en proceso' """ , [])



          for row in db:

          db_pr.execute(""" SELECT  format( ifnull( sum(`costos`) , 0 ) , 0) as costos
                            FROM `ordenes_registro` 
                            WHERE `orden` = %s """ , [row['orden']])

          row_costo = db_pr.fetchone()   

          db_pr.execute(""" SELECT  format( ifnull( sum(op.`cantidad_kg`) / min(o.cantidad_kg) * 100 , 0 )  , 0)  as progreso, format( ifnull( sum(op.`cantidad_kg`) , 0 ) , 2 ) as progreso_kg
                          FROM ordenes o 
                          INNER JOIN `ordenes_produccion` as op
                          ON o.orden=op.orden
                          INNER join hoja_ruta_operaciones ho
                          ON op.operacion = ho.operacion and o.idmat = ho.idmat
                          where ho.clase = 'TERMINADO'  and  o.`orden` = %s """ , [row['orden']])

          row_progreso = db_pr.fetchone()                
        %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>
                <div class="ui indicating progress" data-percent="{{ row_progreso['progreso'] }} ">
                    <div class="bar"></div>
                    <div class="label">{{ row_progreso['progreso'] }}%   ({{ row_progreso['progreso_kg'] }}  kg) </div>
                </div>
            </td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>{{ row_costo['costos'] }}</td>
            <td>
                <a href="ordenes/edicion.html?id={{ row['orden'] }}" class="ui button">{{ row['orden'] }}</a>
            </td>
            <td>
                <div class="ui buttons">
                    <a href="ordenes/cambiar_estado.html?id={{row['orden']}}&estado=cerrada&home=1" class="ui button vertical animated button">
                        <div class="hidden content">Cerrar</div>
                        <div class="visible content">
                            <i class="stop icon"></i>
                          </div>
                    </a>
                    <a href="ordenes/cambiar_estado.html?id={{row['orden']}}&estado=abierta&home=1" class="ui button vertical animated button">
                        <div class="hidden content">Pausar</div>
                        <div class="visible content">
                            <i class="pause icon"></i>
                          </div>
                    </a>                    
                </div>
            </td>
        </tr>
        %end
    </tbody>
</table>

<h4 class="ui horizontal divider header">
  <i class="hourglass half icon"></i>
  En Espera
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad (kg)</th>
            <th>Progreso</th>
            <th>Fecha Compro-<br>metida entrega</th>
            <th>Costo Acumulado</th>
            <th>#Orden</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <%


          db.execute(""" SELECT o.`orden`,DATE_FORMAT(o.`fecha_fin`, '%%Y-%%m-%%d') as fecha_fin ,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`
                          FROM `ordenes` as o
                          INNER JOIN terceros as t
                          ON o.cliente =t.idtercero
                          INNER JOIN materiales as m
                          ON o.idmat = m.idmat
                          WHERE o.estado = 'abierta' """ , [])


        for row in db:

          db_pr.execute(""" SELECT  format( ifnull( sum(`costos`) , 0 ) , 0) as costos
                            FROM `ordenes_registro` 
                            WHERE `orden` = %s """ , [row['orden']])

          row_costo = db_pr.fetchone()   

          db_pr.execute(""" SELECT  format( ifnull( sum(op.`cantidad_kg`) / min(o.cantidad_kg) * 100 , 0 )  , 0)  as progreso, format( ifnull( sum(op.`cantidad_kg`) , 0 ) , 2 ) as progreso_kg
                            FROM ordenes o 
                            INNER JOIN `ordenes_produccion` as op
                            ON o.orden=op.orden
                            INNER join hoja_ruta_operaciones ho
                            ON op.operacion = ho.operacion and o.idmat = ho.idmat
                            where ho.clase = 'TERMINADO'  and  o.`orden` = %s """ , [row['orden']])

          row_progreso = db_pr.fetchone()  


      %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>
                <div class="ui indicating progress" data-percent="{{ row_progreso['progreso'] }}">
                    <div class="bar"></div>
                    <div class="label">{{ row_progreso['progreso'] }}%   ( {{ row_progreso['progreso_kg'] }}  kg)</div>
                </div>
            </td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>{{ row_costo['costos'] }}</td>
            <td>
                <a href="ordenes/edicion.html?id={{ row['orden'] }}" class="ui button">{{ row['orden'] }}</a>
            </td>
            <td>
                <div class="ui buttons">
                    <a href="ordenes/cambiar_estado.html?id={{row['orden']}}&estado=en+proceso&home=1" class="ui button vertical animated button">
                        <div class="hidden content">Procesar</div>
                        <div class="visible content">
                          <i class="play icon"></i>
                        </div>
                    </a>
                    <a href="ordenes/cambiar_estado.html?id={{row['orden']}}&estado=cerrada&home=1" class="ui button vertical animated button">
                        <div class="hidden content">Cerrar</div>
                        <div class="visible content">
                          <i class="stop icon"></i>
                        </div>
                    </a>                 
                </div>
            </td>
        </tr>
        %end
    </tbody>
</table>


<h4 class="ui horizontal divider header">
  <i class="flag checkered icon"></i>
  Terminado Reciente (hoy y/o ayer)
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad<br>(kg)</th>
            <th>Fecha Compro-<br>metida Entrega</th>
            <th>Fecha Real Fin</th>
            <th>Costo Amulado</th>
            <th>#Orden</th>
        </tr>
    </thead>
    <tbody>
        <%

          db.execute(""" SELECT o.`orden`,DATE_FORMAT(o.fecha_fin, '%%Y-%%m-%%d') as  fecha_fin,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`, ifnull( DATE_FORMAT(o.fecha_entrega, '%%Y-%%m-%%d') , '' ) as fecha_entrega
                        FROM `ordenes` as o
                        INNER JOIN terceros as t
                        ON o.cliente =t.idtercero
                        INNER JOIN materiales as m
                        ON o.idmat = m.idmat
                        INNER JOIN `ordenes_estado` as e
                        ON e.estado =o.estado
                        WHERE e.estado = 'cerrada' and
                        `fecha` BETWEEN  concat( SUBDATE(CURDATE(), 1) ,'T00:00:00') and concat(CURDATE(),'T23:59:59')
                        GROUP by o.`orden`""" , [])



        for row in db:

        db_pr.execute(""" SELECT  format( ifnull( sum(`costos`) , 0 ) , 0) as costos
                          FROM `ordenes_registro` 
                          WHERE `orden` = %s """ , [row['orden']])

        row_costo = db_pr.fetchone()   

        db_pr.execute(""" SELECT  format( ifnull( sum(op.`cantidad_kg`) / min(o.cantidad_kg) * 100 , 0 )  , 0)  as progreso, format( ifnull( sum(op.`cantidad_kg`) , 0 ) , 2 ) as progreso_kg
                          FROM ordenes o 
                          INNER JOIN `ordenes_produccion` as op
                          ON o.orden=op.orden
                          INNER join hoja_ruta_operaciones ho
                          ON op.operacion = ho.operacion and o.idmat = ho.idmat
                          where ho.clase = 'TERMINADO'  and  o.`orden` = %s """ , [row['orden']])

        row_progreso = db_pr.fetchone()  

      %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>{{ row['fecha_entrega'] }}</td>
            <td>{{ row_costo['costos'] }}</td>
            <td>
                <a href="ordenes/edicion.html?id={{ row['orden'] }}" class="ui button">{{ row['orden'] }}</a>
            </td>
        </tr>
       %end 
    </tbody>
</table>

<script type="text/javascript">

    $('.ui.progress').progress();
    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })

</script>