<%rebase('base.html',title="Control Producción")
import utils
import datetime
 db =utils.ConnectDB()


 db.execute("""SELECT count(*) as cont_abierta 
               FROM `ordenes_estado` as e
               INNER JOIN ordenes as o
               ON e.estado =o.estado
               WHERE 
               `fecha` BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')
               and e.`estado` = 'abierta' """,[ ])
 row_abierta = db.fetchone()

 db.execute("""SELECT count(*) as cont_proceso
                FROM `ordenes_estado` as e
                INNER JOIN ordenes as o
                ON e.estado =o.estado
                WHERE 
                `fecha` BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')
                and e.`estado` = 'en proceso' """,[ ])
row_proceso = db.fetchone()

 db.execute("""SELECT count(*) as cont_cerrado 
              FROM `ordenes_estado` as e
              INNER JOIN ordenes as o
              ON e.estado =o.estado
              WHERE 
              `fecha` BETWEEN  concat(CURDATE(),'T00:00:00') and concat(CURDATE(),'T23:59:59')
              and e.`estado` = 'cerrada' """,[ ])
row_cerrada = db.fetchone()

db.execute("""SELECT count(*) as cont_cerrado_ayer 
              FROM `ordenes_estado` as e
              INNER JOIN ordenes as o
              ON e.estado =o.estado
              WHERE 
              `fecha` BETWEEN  concat( SUBDATE(CURDATE(), 1),'T00:00:00') and concat(  SUBDATE(CURDATE(), 1) ,'T23:59:59')
              and e.`estado` = 'cerrada' """,[ ])
row_cerrada_ayer = db.fetchone()

%>


<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
    <div class="text">Menu</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <!--<div class="item" data-value="main_menu.html">Menu Principal</div>
            <div class="item" data-value="ordenes/registrar_produccion_inicio.html">Registrar Produccion</div>
            <div class="item" data-value="ordenes/registro_trabajo_planta.html">Registro Trabajo de Planta</div>-->
        <div class="item" data-value="">Menu</div>
        <div class="item" data-value="ordenes/edicion.html">Crear Orden</div>
        <div class="item" data-value="turnos/principal.html">Control de Turnos</div>
        <div class="item" data-value="costos_indirectos/principal.html">Costos Indirectos</div>
        <div class="item" data-value="ordenes/rep_control_produccion.html">Cuadro control producci&oacute;n</div>
        <div class="item" data-value="equipos/principal.html">Equipos (Hornos, M&aacute;quinas)</div>
        <div class="item" data-value="hoja_de_ruta/principal.html">Hojas de Ruta</div>
        <div class="item" data-value="materiales/principal.html">Materiales (Insumos, Materia Prima, Producto Terminado)</div>
        <div class="item" data-value="ordenes/registro_trabajo_planta.html">Registrar Producci&oacute;n</div>
        <div class="item" data-value="ordenes/resumen_programacion_produccion.html">Resumen Programaci&oacute;n Producci&oacute;nn</div>
        <div class="item" data-value="ordenes/rep_prod_vs_real.html">Reporte Producción Real Vs Programado</div>
        <div class="item" data-value="ordenes/rep_desempeno.html">Reporte Desempeño</div>
        <div class="item" data-value="ordenes/rep_consumos.html">Reporte Consumos</div>
        <div class="item" data-value="terceros/principal.html">Terceros (Clientes, Operarios, Proveedores)</div>
        <div class="item" data-value="ordenes/programacion_produccion.html">Programaci&oacute;n Producci&oacute;n</div>
        <div class="item" data-value="usuarios/principal.html">Usuarios</div>

    </div>
</div>


<h2 class="ui header">Control Producci&oacute;n - Resumen 2018-05-15</h2>
<h4 class="ui horizontal divider header">
  <i class="calendar alternate outline icon"></i>
  Hoy
</h4>
  
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="chart line icon"></i> 120
    </div>
    <div class="label">
      Capacidad max.<br>de Planta kg / h<br>( kg dia teórico / 24 h )
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <i class="battery half icon"></i> 22 %
    </div>
    <div class="label">
      \% Capacidad de<br>planta utilizada
      <br>( prod u. hora / cap max.)
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="industry icon"></i> {{row_abierta['cont_abierta']}}
    </div>
    <div class="label">
      Ordenes Abiertas        
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="hourglass half icon"></i>{{row_proceso['cont_proceso']}}
    </div>
    <div class="label">
      Ordenes en Espera
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="flag checkered icon"></i> {{row_cerrada['cont_cerrado']}}
    </div>
    <div class="label">
      Ordenes Terminadas
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="chart line icon"></i> 264
    </div>
    <div class="label">
      Produccion Ultima <br>Hora kg 
    </div>
  </div>

  <div class="statistic">
      <div class="value">
        <i class="chart line icon"></i> 264
      </div>
      <div class="label">
        Producto Adecuado &Uacute;ltima <br>Hora kg 
      </div>
    </div>

  <div class="statistic">
    <div class="value">
      <i class="chart area icon"></i> 264
    </div>
    <div class="label">
      Produccion Acumulada <br> kg 
    </div>
  </div>

  <div class="statistic">
      <div class="value">
        <i class="chart area icon"></i> 264
      </div>
      <div class="label">
        Producto Adecuado Acumulado <br> kg 
      </div>
    </div>

  <div class="statistic">
    <div class="value">
      <i class="dollar sign icon"></i> 200.3M
    </div>
    <div class="label">
      Costo Acumulado <br> COP 
    </div>
  </div>
</div>


<h4 class="ui horizontal divider header">
  <i class="calendar alternate icon"></i>
  Ayer
</h4>

<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="battery half icon"></i> 22 %
    </div>
    <div class="label">
      \% Capacidad de<br>planta utilizada
      <br>( prod total / cap max)
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="flag checkered icon"></i> {{row_cerrada_ayer['cont_cerrado_ayer']}}
    </div>
    <div class="label">
      Ordenes Terminadas
    </div>
  </div>
  <%
     db.execute(""" SELECT  sum(`cantidad_kg`) as total_kg
      FROM `ordenes_produccion` 
      WHERE `fecha` BETWEEN CONCAT( SUBDATE(CURDATE(), 1) ,'T00:00:00') 
          AND CONCAT( SUBDATE(CURDATE(), 1) ,'T23:59:59')""",[])

      row_total_kg = db.fetchone()     
  %>
  <div class="statistic">
    <div class="value">
      <i class="chart area icon"></i> {{row_total_kg['total_kg']}}
    </div>
    <div class="label">
      Produccion Total <br>( kg )
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="dollar sign icon"></i> 200.3M
    </div>
    <div class="label">
      Costo Acumulado <br>( COP )
    </div>
  </div>

</div>
<h4 class="ui horizontal divider header">
  <i class="industry icon"></i>
  En Proceso
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad (kg)</th>
            <th>Progreso</th>
            <th>Fecha Compro-<br>metida entrega</th>
            <th>Costo Acumulado</th>
            <th>#Orden</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <%
           


            db.execute(""" SELECT o.`orden`,o.`fecha_fin`,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`
                            FROM `ordenes` as o
                            INNER JOIN terceros as t
                            ON o.cliente =t.idtercero
                            INNER JOIN materiales as m
                            ON o.idmat = m.idmat
                            WHERE o.estado = 'en proceso' """ , [])



          for row in db:
        %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>
                <div class="ui indicating progress" data-percent="">
                    <div class="bar"></div>
                    <div class="label">% ( kg)</div>
                </div>
            </td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>$23.232.433</td>
            <td>
                <a href="" class="ui button">4</a>
            </td>
            <td>
                <div class="ui buttons">
                    <a href="" class="ui button">
                        <i class="stop icon"></i>
                    </a>
                    <a href="" class="ui button">
                        <i class="pause icon"></i>
                    </a>                    
                </div>
            </td>
        </tr>
        %end
    </tbody>
</table>

<h4 class="ui horizontal divider header">
  <i class="hourglass half icon"></i>
  En Espera
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad (kg)</th>
            <th>Progreso</th>
            <th>Fecha Compro-<br>metida entrega</th>
            <th>Costo Acumulado</th>
            <th>#Orden</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <%
        #db.execute("""select (SELECT sum(`cantidad_kg`) FROM `ordenes_produccion` as ot WHERE ot.orden = o.orden) as kg,
         #             round ( ( ( (SELECT sum(`cantidad_kg`) FROM `ordenes_produccion` as ot WHERE ot.orden = o.orden) *100  )  / o.cantidad_kg) , 1) as total_porcentaje
          #            FROM ordenes o
           #           where o.estado = 'en proceso' """,[])

           #row['total_porcentaje']  row['kg'] }}

          db.execute(""" SELECT o.`orden`,o.`fecha_fin`,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`
                          FROM `ordenes` as o
                          INNER JOIN terceros as t
                          ON o.cliente =t.idtercero
                          INNER JOIN materiales as m
                          ON o.idmat = m.idmat
                          WHERE o.estado = 'abierta' """ , [])



        for row in db:
      %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>
                <div class="ui indicating progress" data-percent="20">
                    <div class="bar"></div>
                    <div class="label">20% (44.6kg)</div>
                </div>
            </td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>$23.232.433</td>
            <td>
                <a href="" class="ui button">3</a>
            </td>
            <td>
                <div class="ui buttons">
                    <a href="" class="ui button">
                        <i class="play icon"></i>
                    </a>
                    <a href="" class="ui button">
                        <i class="stop icon"></i>
                    </a>                 
                </div>
            </td>
        </tr>
        %end
    </tbody>
</table>


<h4 class="ui horizontal divider header">
  <i class="flag checkered icon"></i>
  Terminado Reciente (hoy y/o ayer)
</h4>
<table class="ui very basic collapsing celled table">
    <thead>
        <tr>
            <th colspan="2">Cliente</th>
            <th colspan="2">Producto</th>
            <th>Cantidad<br>(kg)</th>
            <th>Fecha Compro-<br>metida Entrega</th>
            <th>Fecha Real Fin</th>
            <th>Costo Amulado</th>
            <th>#Orden</th>
        </tr>
    </thead>
    <tbody>
        <%
        #db.execute("""select (SELECT sum(`cantidad_kg`) FROM `ordenes_produccion` as ot WHERE ot.orden = o.orden) as kg,
         #             round ( ( ( (SELECT sum(`cantidad_kg`) FROM `ordenes_produccion` as ot WHERE ot.orden = o.orden) *100  )  / o.cantidad_kg) , 1) as total_porcentaje
          #            FROM ordenes o
           #           where o.estado = 'en proceso' """,[])

           #row['total_porcentaje']  row['kg'] }}


          db.execute(""" SELECT o.`orden`,o.`fecha_fin`,o.`cantidad_kg`,t.nombre,t.idtercero,m.`idmat`,m.`descripcion`
                          FROM `ordenes` as o
                          INNER JOIN terceros as t
                          ON o.cliente =t.idtercero
                          INNER JOIN materiales as m
                          ON o.idmat = m.idmat
                          INNER JOIN `ordenes_estado` as e
                          ON e.estado =o.estado
                          WHERE e.estado = 'abierta' and
                          `fecha` BETWEEN  concat( SUBDATE(CURDATE(), 1) ,'T00:00:00') and concat(CURDATE(),'T23:59:59')""" , [])



        for row in db:
      %>
        <tr>
            <td>{{ row['idtercero'] }}</td>
            <td>{{ row['nombre'] }}</td>
            <td>{{ row['idmat'] }}</td>
            <td>{{ row['descripcion'] }}</td>
            <td>{{ row['cantidad_kg'] }}</td>
            <td>{{ row['fecha_fin'] }}</td>
            <td>2018-05-24</td>
            <td>$23.232.433</td>
            <td>
                <a href="" class="ui button">2</a>
            </td>
        </tr>
       %end 
    </tbody>
</table>

<script type="text/javascript">

    $('.ui.progress').progress();
    $('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })

</script>