%rebase('base.html',title="Control Producción")
<h2 class="ui header">Control Producci&oacute;n - Menu Principal</h2>
<div class="ui grid">
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="home.html">
            <i class="chart bar outline icon"></i>
            Resumen
        </a>
    </div>

    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="turnos/principal.html"><i class="hourglass outline icon"></i>Control de Turnos</a>
    </div>

    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/registro_trabajo_planta.html"><i class="add to calendar icon"></i>Registro Trabajo de Planta</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/registro_deshidratacion.html"><i class="address card icon"></i>Registro Deshidratacion</a>
    </div>    
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/resumen_programacion_produccion.html"><i class="clone outline icon"></i>Resumen Programaci&oacute;n Producci&oacute;n</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/programacion_produccion.html"><i class="calendar icon" style="hyphens: auto;"></i>Programaci&oacute;n Producci&oacute;n</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="costos_indirectos/principal.html"><i class="money bill alternate icon" style="hyphens: auto;"></i>Costos Indirectos</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="hoja_de_ruta/principal.html"><i class="address book outline icon"></i>Hojas de Ruta</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="terceros/principal.html"><i class="street view icon"></i>Terceros (Clientes, Operarios, Proveedores)</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="equipos/principal.html"><i class="cogs icon"></i>Equipos (Hornos, M&aacute;quinas)</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="materiales/principal.html"><i class="cubes icon"></i>Materiales (Insumos, Materia Prima, Producto Terminado)</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="usuarios/principal.html"><i class="address book outline icon"></i>Usuarios</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/rep_prod_vs_real.html"><i class="chart line icon"></i>Reporte Producción Real Vs Programado</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/rep_control_produccion.html"><i class="chart pie icon"></i>Cuadro control producción</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/rep_desempeno.html"><i class="chart bar icon"></i>Reporte Desempeño</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/rep_consumos.html"><i class="chart area icon"></i>Reporte Consumos</a>
    </div>
    <div class="eight wide column">
        <a style="hyphens: auto;" class="ui fluid button big" href="ordenes/consumos_insumos.html"><i class="cart arrow down icon"></i>Consumo Insumos</a>
    </div>
</div>