<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
titulo = ''

if id:
    titulo = 'Edicion'
    db.execute("""SELECT `user`, `password`, ifnull(`full_name`,'') as full_name, ifnull(`email`, '') as email, 
                ifnull(`contact_address`,'') as contact_address, ifnull(`telephone`,0) as telephone, 
                ifnull(`notes`,'') as notes, `status`, `type`, `session_key`, `session_stamp`, `session_data`, 
                `password_recover_id`, `data_group`, `user_data_group`, ifnull(`department`,'') as department 
                 FROM users WHERE user = %s""",[id])
    vara = db.fetchone()
    locals().update(vara)
else:
    titulo = 'Crear'
    db.execute("DESCRIBE users")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">{{titulo}} Usuario:</h2>

<div class="ui search fluid selection dropdown optionmenu">
    <input type="hidden" name="opciones">
      <div class="text">Menu</div>
      <i class="dropdown icon"></i>
      <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="/usuarios/principal.html">Usuarios</div>
      </div>   
</div>

<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
    <br>
    <div class="two fields">
        <div class="field">
            <label>Usuario</label>
            <input type="text" name="user" value="{{user}}" required="">
        </div>
        <div class="field">
            <label>Nombre Completo</label>
            <input type="text" name="full_name" required="" value="{{full_name}}"></textarea>
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" name="email" value="{{email}}" required="" placeholder="ejemplo@hotmail.com">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Direcci&oacute;n</label>
            <input type="text" name="contact_address" value="{{contact_address}}"></textarea>
        </div>
        <div class="field">
            <label>Telefono</label>
            <input type="number" name="telephone" value="{{telephone}}"></textarea>
        </div>
        
        <div class="field">
            <label>Departamento</label>
            <input type="text" name="department" value="{{department}}" >
        </div>
    </div>
    <div class="field">
        <label>Notas</label>
        <textarea name="notes">{{notes}}</textarea>
    </div>

    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>      
    </div>
    <div class="ui buttons">
            <a class="ui button" href="edicion.html">Crear Otro</a>   
    </div>
</form>

<script type="text/javascript">

    $('.ui.progress').progress();
    $('.ui.dropdown.optionmenu').dropdown({
    action:function(text, value){
        window.location.href = value;
    }
    })

</script>