<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
titulo = ''

if id:
    titulo = 'Edicion'
    db.execute("SELECT * FROM materiales WHERE idmat = %s",[id])
    vara = db.fetchone()
    locals().update(vara)
else:
    titulo = 'Crear'
    db.execute("DESCRIBE materiales")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">{{titulo}} Material:</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="/materiales/principal.html">Materiales</div>
        </div>
    </div>  

<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
    <br>
    <div class="two fields">
        <div class="field">
            <label>ID</label>
            <input type="text" name="idmat" value="{{idmat}}" required="">
        </div>
        <div class="field">
            <label>Descripci&oacute;n</label>
            <input type="text" name="descripcion" value="{{descripcion}}">
        </div>

    </div>
    <div class="two fields">
        <div class="field">
            <label>Unidad</label>
            <select name="unidad" id="unidades">
                    <option value="kg">kg</option>
                    <option value="un">un</option>
                    <option value="l">l</option>
                    <option value="m">m</option>
            </select>
        </div>
        <div class="field">
            <label>Costo</label>
            <input type="text" name="costo" value="{{costo}}" required="" >
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Grupo 1</label>
            <select id="grupo1" name="grupo1" >
                    <option value="MPP">MPP - Producto Terminado</option>
                    <option value="MPF">MPF - Materia Prima para Fabricaciion</option>
                    <option value="Insu">Insu - Insumo</option> 
            </select>

        </div>
        <div class="field">
            <label>Grupo 2</label>
            <input type="text" name="grupo2" value="{{grupo2}}">
        </div>
        <div class="field">
            <label>Grupo 3</label>
            <input type="text" name="grupo3" value="{{grupo3}}">
        </div>
        <div class="field">
            <label>Grupo 4</label>
            <input type="text" name="grupo4" value="{{grupo4}}">
        </div>
    </div>

    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>         
    </div>
    <div class="ui buttons">
            <a class="ui button" href="edicion.html">Crear Otro</a> 
    </div>
</form>

<script>

$('#unidades').dropdown('set selected','{{grupo1}}');
$('#unidades').dropdown('set selected','{{unidad}}');

        $('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){    
        window.location.href = value;}
    })

</script>