<%
import utils, csv
from bottle import request, redirect

db = utils.ConnectDB()


upload = request.files.get('archivo_plano')

if upload :
upload.save('tmp/',overwrite=True)

with open( 'tmp/'+upload.filename, 'rb') as csvfile:
    spamreader = csv.reader(csvfile, delimiter='\t', quotechar='"')
    for row in spamreader:
    	if len(row) == 7:
        	db.execute("REPLACE INTO `materiales`(`idmat`, `descripcion`, `grupo1`, `grupo2`, `grupo3`, `grupo4`, `unidad`) VALUES (%s,%s,%s,%s,%s,%s,%s)",(row[0],row[1],row[2],row[3],row[4],row[5],row[6],))
        end
    end
end

db.execute('COMMIT WORK')

end
redirect('principal.html')
