<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
titulo = ''

if id:
    titulo = 'Edicion'
    db.execute("SELECT * FROM terceros WHERE idtercero = %s",[id])
    vara = db.fetchone()
    locals().update(vara)
else:
    titulo = 'Crear'
    db.execute("DESCRIBE terceros")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">{{titulo}} Tercero:</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="/terceros/principal.html">Terceros</div>
        </div>
    </div>  

<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
    <br>

    <div class="two fields"> 
        <div class="field">
            <label>ID</label>
            <input type="text" name="idtercero" value="{{idtercero}}" required="">
        </div>
        <div class="field">
            <label>Nombre/Raz&oacute;n Social</label>
            <input type="text" name="nombre" value="{{nombre}}" required="" >
        </div>
    </div>
    <div class="two fields"> 
        <div class="field">
            <label>Salario</label>
            <input type="number" name="salario" value="{{salario}}" step="any">
        </div>
        <div class="field">
            <label>Tipo</label>
            <select name="tipo" required="">
                <option value=""></option>
                <option value="PROV">Proveedor</option>
                <option value="CLNT">Cliente</option>
                <option value="EMPL">Empleado</option>
            </select>
        </div>
    </div>
    <div class="field">
        <label>Notas</label>
        <textarea name="notas">{{notas}}</textarea>
    </div>

    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>  
    </div>
    <div class="ui buttons">
            <a class="ui button" href="edicion.html">Crear Otro</a>    
    </div>
</form>

<script>
    $('select[name="tipo"]').val('{{tipo}}');

    $('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){    
        window.location.href = value;}
    })

</script>