<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
operacion = request.GET.oper
title = request.GET.title
operarios = request.GET.opera
mensaje = request.params.get('mensaje')

if id and operacion:

    db.execute("""SELECT * FROM hoja_ruta_operaciones  WHERE idmat = %s and operacion = %s """,[id,operacion])
    vara = db.fetchone()
    locals().update(vara)
else:

# ifnull(CONVERT(max(`operacion`)+1 , SIGNED) , 1)  as 
db.execute("""SELECT 0 as operacion,"" as descripcion,"" as capacidad_kg_h, "" as operarios,"" as tipo ,0 as fresco,"" as clase
                FROM `hoja_ruta_operaciones`
                WHERE `idmat` = %s """,[id])
                valor = db.fetchone()

locals().update(valor)

end

       
%>
<h2 class="ui header">{{title}} Operacion:</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="principal_operaciones.html?id={{id}}">Operaciones</div>
            <div class="item" data-value="principal.html">Hoja de Ruta</div>
        </div>
 </div>   

<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">

    <br>
    <div class="two fields">
        <div class="field">
            <label>ID Material</label>
            <input type="text" name="idmat" value="{{id}}" required="" readonly>
        </div>
        <div class="field">
            <label>Operaci&oacute;n</label>
            <input type="text" id="operacion"  name="operacion" value="{{operacion}}" >
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Descripci&oacute;n</label>
            <input type="text" name="descripcion" value="{{descripcion}}" required="" >
        </div>
        <div class="field">
            <label>Capacidad (kg / h / hombre) </label>
            <input type="number"  step="any" name="capacidad_kg_h" value="{{capacidad_kg_h}}">
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Tipo</label>
            <select  name="tipo" >
            <option value="TUR" {{'selected' if tipo=='TUR' else ''}}>Turnos</option>
            <option value="MAQ" {{'selected' if tipo=='MAQ' else ''}}>Maquinaria</option>
            </select>
        </div>

        <div class="field">
                <label>Operarios </label>
                <input type="number"  step="any" name="operarios" value="{{operarios}}">
        </div>
    </div>

    <div class="two fields">
        <div class="ui toggle checkbox field" style="margin-top: 2em;">            
              <input type="checkbox" name="procesamiento" id="procesamiento" value="{{fresco}}">
              <label>Operaci&oacute;n Procesamiento en Fresco</label>
        </div>
        <div class="field">
            <label>Clase (Agrupar datos)</label>
            <select  name="clase" >
                    <option value="" {{'selected' if clase=='' else ''}}></option>
                    <option value="ADECUADO" {{'selected' if clase=='ADECUADO' else ''}}>ADECUADO</option>
                    <option value="DESHIDRATADO" {{'selected' if clase=='DESHIDRATADO' else ''}}>DESHIDRATADO</option>
                    <option value="TERMINADO" {{'selected' if clase=='TERMINADO' else ''}}>TERMINADO</option>
            </select>
           <!-- <input type="text" name="clase" id="clase" value="{{clase}}" >-->
        </div>

        
    </div>
          <input type="hidden" name="title"  value="{{title}}">
    <br> 
    <br>
    <div class="ui buttons" >
            <button class="ui button" type="submit" formaction="guardar_operaciones.html" formmethod="POST">Guardar</button>  
    </div>
    <div class="ui buttons" >
            <a class="ui button" href="edicion_operaciones.html?id={{id}}&title={{'Crear'}}">Crear Otro</a>
    </div>
</form>

<script>

if( '{{fresco}}' == 0){
    $('#procesamiento').prop('checked', false); 
}else{
    $('#procesamiento').prop('checked', true); 
}

if( '{{title}}' == 'Edicion' ){
    $("#operacion").prop('readonly', true);
}else{

    if( '{{mensaje}}' == 'guardado' )
       $("#operacion").prop('readonly', true);
    else
       $("#operacion").prop('readonly', false);
}

if( '{{mensaje}}' != '' && '{{mensaje}}' != 'None' && '{{mensaje}}' != 'guardado' )
    alert('{{mensaje}}');

$('.ui.dropdown.optionmenu').dropdown({
      action:function(text, value){
        window.location.href = value;
      }
    })
</script>
