<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id
oper =  request.GET.oper
componente = request.GET.comp
title = request.GET.title

if id and oper and componente and title != 'Crear' :
    db.execute("SELECT * FROM hoja_ruta_componentes WHERE idmat = %s and operacion = %s and componente = %s",[id,oper,componente])
    vara = db.fetchone()
    locals().update(vara)
else:
    db.execute("DESCRIBE hoja_ruta_componentes")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">{{title}} Componentes:</h2>
<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="principal_operaciones.html?id={{id}}">Operaciones</div>
            <div class="item" data-value="principal_componentes.html?id={{id}}&oper={{oper}}">Componentes</div>
            <div class="item" data-value="principal.html">Hoja de Ruta</div>
        </div>
 </div>   


<form class="ui form">
    <div class="field">
        <label>ID</label>
        <input type="text" name="idmat" value="{{id}}" required="" readonly>
    </div>
    <div class="field">
        <label>Operaci&oacute;n</label>
        <input type="text" name="operacion" value="{{oper}}" readonly>
    </div>
    <div class="field">
        <label>Componente</label>
        <input type="text" name="componente" value="{{componente}}" required="" >
    </div>
    <div class="field">
        <label>Tipo</label>
        <select  name="tipo" >
                <option value="MO" {{'selected' if tipo=='MO' else ''}}>Mano de Obra</option>
                <option value="MP" {{'selected' if tipo=='MP' else ''}}>Materia Prima</option>
                <option value="MQ" {{'selected' if tipo=='MQ' else ''}}>Maquinaria</option>
                <option value="LP" {{'selected' if tipo=='LP' else ''}}>Muestras</option>
                <option value="IN" {{'selected' if tipo=='IN' else ''}}>Insumo</option>
        </select>
    </div>
    <div class="field">
        <label>Costo</label>
        <input type="number" step="any" name="costo" value="{{costo}}">
    </div>
    <div class="field">
        <label>Unidad</label>
        <select name="unidad" id="unidades">
                <option value="kg">kg</option>
                <option value="un">un</option>
                <option value="l">l</option>
                <option value="m">m</option>
                <option value="h">h</option>
                <option value="ml">ml</option>
        </select>
        
    </div>
    <div class="field">
            <label>Cantidad</label>
            <input type="number" step="any" name="cantidad" value="{{cantidad}}" required="" >
    </div>

    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar_componentes.html" formmethod="POST">Guardar</button>
            <a class="ui button" href="edicion_componentes.html?id={{id}}&title={{'Crear'}}&oper={{oper}}&comp={{componente}}">Crear Otro</a>       
    </div>
</form>


<script>

    $('#unidades').dropdown('set selected','{{unidad}}');


    $('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){    
        window.location.href = value;}
    })

</script>