<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()

id = request.GET.id

if id:
    db.execute("SELECT * FROM hoja_ruta WHERE idmat = %s",[id])
    vara = db.fetchone()
    locals().update(vara)
else:
    db.execute("DESCRIBE hoja_ruta")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">Edicion Encabezado Hoja Ruta:</h2>
<div class="ui buttons">
  <a class="ui button" href="/hoja_de_ruta/principal.html">Hoja de Ruta</a>
  <a class="ui button" href="/main_menu.html">Menu Principal</a>
</div>
<form class="ui form">
    <div class="two fields">
        <div class="field">
            <label>Producto</label>
            <input type="text" name="idmat" value="{{idmat}}" required="">
        </div>
        <div class="field">
            <label>Busqueda producto</label>
            <div class="ui search">
                <input class="prompt" type="text" placeholder="producto a buscar">
                <div class="results"></div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Descripci&oacute;n</label>
        <textarea name="descripcion">{{descripcion}}</textarea>
    </div>
    <div class="field">
        <label>Costo Indirecto de Fabricacion por unidad (CIF)</label>
        <input type="number" name="cif" value="{{cif}}" required="" step="any">
    </div>
    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>
            <a class="ui button" href="edicion.html">Crear Otro</a>       
    </div>
</form>
<script type="text/javascript">
    $('.ui.search')
      .search({
        apiSettings: {
          url: 'buscar_producto?query={query}'
        },
        fields: {
          results : 'items',
          title   : 'name',
          url     : 'html_url'
        },
        minCharacters : 3
      })
    ;

</script>