<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

idmat = request.params.get('idmat')
operacion = request.params.get('operacion')
componente = request.params.get('componente')
tipo = request.params.get('tipo')
costo = request.params.get('costo')
unidad = request.params.get('unidad')
cantidad = request.params.get('cantidad')
ordenamiento = request.params.get('ordenamiento')

db.execute("""REPLACE INTO `hoja_ruta_componentes`(`idmat`, `operacion`, `componente`, `tipo`, `costo`, `unidad`, `cantidad`,`ordenamiento`) 
    VALUES (%s,%s,%s,%s,%s,%s,%s,%s)""",[ idmat, operacion[0:1], componente, tipo, costo, unidad, cantidad, ordenamiento])
db.execute('COMMIT WORK');

redirect('edicion_componentes.html?id={id}&oper={oper}&comp={comp}&title={title}'.format(id=idmat,oper=operacion,comp=componente,title='Edicion'))