<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

idmat = request.params.get('idmat')
operacion = request.params.get('operacion')
descripcion = request.params.get('descripcion')
capacidad_kg_h = request.params.get('capacidad_kg_h')
tipo = request.params.get('tipo')
operarios = request.params.get('operarios')
valor = request.params.get('procesamiento')

if valor:
fresco = 1
else :
fresco = 0
end

db.execute("""REPLACE INTO `hoja_ruta_operaciones`(`idmat`, `operacion`, `descripcion`, `capacidad_kg_h`, `tipo`,`operarios`, `fresco`) 
    VALUES ( %s,%s,%s,%s,%s,%s,%s )""",[ idmat, operacion, descripcion, capacidad_kg_h, tipo,operarios,fresco])
db.execute('COMMIT WORK');

redirect('edicion_operaciones.html?id={id}&oper={oper}&title={title}&opera={operarios}'.format(id=idmat,oper=operacion,title='Edicion',operarios=operarios) )