<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

idmat = request.params.get('idmat')
descripcion = request.params.get('descripcion')
cif = request.params.get('cif')
rendimiento = request.params.get('rendimiento')
valor = request.params.get('reempaque')
title = request.params.get('title')
mensaje = ''

if valor:
reempaque = 1
else :
reempaque = 0
end

if title == 'Edicion':

db.execute("""REPLACE INTO `hoja_ruta`(`idmat`, `descripcion`, `cif`,`rendimiento`, `reempaque`) VALUES (%s,%s,%s,%s,%s)""",
                                     [ idmat, descripcion, cif,rendimiento,reempaque])
db.execute('COMMIT WORK');

else :

    db.execute(""" SELECT COUNT(*) as contador FROM `hoja_ruta` WHERE `idmat` = %s """,[idmat])

    row_cantidad = db.fetchone();

    if row_cantidad['contador'] == 0 :
    db.execute("""REPLACE INTO `hoja_ruta`(`idmat`, `descripcion`, `cif`,`rendimiento`, `reempaque`) VALUES (%s,%s,%s,%s,%s)""",
                                            [ idmat, descripcion, cif,rendimiento,reempaque])
    db.execute('COMMIT WORK');
    else :
        idmat = ''
        mensaje = 'El Producto ya existe en hoja de ruta'
    end 

end

redirect('edicion.html?id={id}&mensaje={mensaje}&title={title}'.format(id=idmat,mensaje=mensaje,title=title))