<%
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

idmat = request.params.get('idmat')
descripcion = request.params.get('descripcion')
grupo1 = request.params.get('grupo1')
grupo2 = request.params.get('grupo2')
grupo3 = request.params.get('grupo3')
grupo3 = request.params.get('grupo3')
unidad = request.params.get('unidad')

db.execute("""REPLACE INTO `materiales`(`idmat`, `descripcion`, `grupo1`, `grupo2`, `grupo3`, `grupo4`, `unidad`) 
    VALUES (%s,%s,%s,%s,%s,%s,%s)""",[ idmat, descripcion, grupo1, grupo2, grupo3, grupo3, unidad,])
db.execute('COMMIT WORK');

redirect('edicion.html?id={id}'.format(id=idmat))