<%rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request, redirect

db = utils.ConnectDB()

id = request.GET.id
turno = request.GET.turno
titulo= ''

db.execute(""" SELECT a.idtercero , a.nombre as description FROM terceros as a """,[])

row_tercero = db.fetchall()

if id:
    titulo = 'Edicion'
    db.execute("""SELECT  a.`fecha_turno`, a.`turno`, a.`idtercero`,DATE_FORMAT(desde,'%%Y-%%m-%%dT%%T') as desde, 
                            CONCAT(a.`idtercero`,' - ',b.nombre) as operario, DATE_FORMAT(hasta,'%%Y-%%m-%%dT%%T') as hasta
                    FROM registro_turnos as a 
                    LEFT OUTER JOIN terceros as b 
                    ON a.idtercero = b.idtercero
                    WHERE fecha_turno = %s and turno = %s""",[id,turno])
    vara = db.fetchone()
    locals().update(vara)
else:
    titulo = 'Crear'
    db.execute("DESCRIBE registro_turnos")
    for row in db:
        locals().update({row['Field']:''})
    end
end

       
%>
<h2 class="ui header">{{titulo}} Turno:</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="/turnos/principal.html">Turnos</div>
        </div>
    </div>  

<form class="ui form" method="post" enctype="multipart/form-data" acceptcharset="UTF-8" >
<br>
    <div class="two fields">
            <div class="field">
                <label>Fecha Turno</label>
                <input type="date" name="fecha_turno"  value="{{fecha_turno}}" required>
            </div>
            <div class="field">
                <label>Turno</label>
                <select name="turno" id="turno" value="{{turno}}}" required >
                <option value=""></option>
                <option value="1">06:00am - 02:00pm</option>
                <option value="2">02:00pm - 10:00pm</option>
                <option value="3">10:00pm - 06:00am</option>
                
                </select>
            </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
          <label>Desde</label>
          <input type="datetime-local" name="desde" value="{{desde}}">
        </div>
        <div class="eight wide field">
          <label>Hasta</label>
          <input type="datetime-local" name="hasta" value="{{hasta}}">
        </div>        
    </div>
    <div class="field">
        <label>Operario</label>
        
        <select class="ui search selection dropdown" id="operario" name="operario">
             % for row in row_tercero : 
                 <option value="{{row['idtercero']}}">{{ str(row['idtercero']) + ' - ' + row['description'] }}</option>  
             %end
        </select>
        
    </div>


    <div class="ui buttons">
            <button class="ui button" type="submit" formaction="guardar.html" formmethod="POST">Guardar</button>   
    </div>
    
</form>

<!--
    <input type="hidden" name="fecha_turno" value="{{id}}">
    <input type="hidden" name="turno" value="{{turno}}">
<table class="ui table">
    <thead>
        <th>Fecha Turno</th>
        <th>Turno</th>
        <th>Empleado</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Acci&oacute;n</th>
    </thead>
    <tbody>
        <% db.execute("SELECT a.`fecha_turno`, a.`turno`, a.`idtercero`, CONCAT(a.`idtercero`,' - ',b.nombre) as operario, `desde`, `hasta` FROM `registro_turnos` as a LEFT OUTER JOIN terceros as b ON a.idtercero = b.idtercero WHERE fecha_turno = %s and turno = %s",[id, turno])
           for row in db:
        %>
        <tr>
            <td>{{row['fecha_turno']}}</td>
            <td>{{row['turno']}}</td>
            <td>{{row['operario']}}</td>
            <td>{{row['desde']}}</td>
            <td>{{row['hasta']}}</td>
            <td>
                <div class="ui buttons">
                    <a class="ui vertical animated button" href="javascript: confirmar_borrado('{{row['fecha_turno']}}', '{{row['turno']}}','{{row['idtercero']}}')">
                      <div class="hidden content">Eliminar</div>
                      <div class="visible content">
                        <i class="remove icon"></i>
                      </div>
                    </a>
                    <a class="ui vertical animated button" href="javascript:modificar('{{row['desde']}}', '{{row['hasta']}}','{{row['idtercero']}}','{{row['operario']}}')">
                      <div class="hidden content">Editar</div>
                      <div class="visible content">
                        <i class="edit icon"></i>
                      </div>
                    </a>
                </div>
            </td>
        </tr>
        %end
    </tbody>
</table>
-->
<script type="text/javascript">

    function confirmar_borrado(fecha_turno, turno, idtercero)
    {
        if (confirm("¿ Desea borrar este registro ?"))
        {
            document.location = 'eliminar.html?fecha_turno='+fecha_turno+'&turno='+turno+'&idtercero='+idtercero;
        }
    };

    $('#operario').dropdown();
 /*    function modificar(desde, hasta, idtercero,nombre_tercero)
    {
      $('input[name="desde"]').val(desde.replace(' ','T'))
      $('input[name="hasta"]').val(hasta.replace(' ','T'))
      $('#operario').val(idtercero)
      $('#operario').dropdown('set value',idtercero);
      $('#operario').dropdown('set text',nombre_tercero);
    };

   

 $('#operario').dropdown({
      apiSettings: {
        url: '/terceros/buscar.json?tipo=EMPL&query={query}'
      }
  });*/

  if('{{titulo}}' == 'Edicion'){
     $('#operario').dropdown('set selected','{{idtercero}}');
     $('#turno').val('{{turno}}');
  }

  $('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){    
        window.location.href = value;}
    })


</script>