<% rebase('base.html',title="Control Producción")
import utils
import datetime
from bottle import request

db = utils.ConnectDB()
%>
<h2 class="ui header">Control Turnos</h2>

<div class="ui search fluid selection dropdown optionmenu">
        <input type="hidden" name="opciones">
        <div class="text">Menu</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="">Menu</div>
            <div class="item" data-value="/home.html">Inicio</div>
            <div class="item" data-value="edicion.html">Ingresar</div>
        </div>
    </div>  

<form class="ui form" action="edicion.html" method="get">

    <div class="field">
        <label>Fecha</label>
        <input type="date" name="id">
    </div>
    <div class="field">
        <label>Turno</label>
        <select name="turno">
          <option value="1">06:00am - 02:00pm</option>
          <option value="2">02:00pm - 10:00pm</option>
          <option value="3">10:00pm - 06:00am</option>
        
        </select>
    </div>

    <button class="ui button" type="submit" >Ingresar</button>


</form>

<script>
    
    $('.ui.dropdown.optionmenu').dropdown({
        action:function(text, value){    
        window.location.href = value;}
    })

</script>